@import 'variables.scss';

.assignment-page{
  $root: &;
  padding: 40px;
  padding-left: 64px;
    
  &__header-area{
    display: flex;
    align-items: center;
    color: $black;

    &__bread-crumbs{
      font-weight: $heavy-font-weight;
      font-size: 20px;
      margin-right: auto;
      display: flex;
      align-items: center;
      color: $black;
      a{
        font-weight: $heavy-font-weight;
        font-size: 20px;
        color: $black;
        text-decoration: none;
      }
    }

    &__date-label{
      margin-right: 16px;
      color: $black;
    }
  }

  &__action-area{
    height: 40px;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__dropdowns{
      display: flex;
      width: 323px;
      padding: 0 10px;
      box-sizing: border-box;
    }
    &__turned-in{
      color: $black;
      span{
        font-size: 21px;
        font-weight: 700;
      }
    }
  }

  &__container{
    width: 100%;
    height: calc(100% - 177px);
    display: grid;
    grid-template-columns: 323px calc(100% - 323px);
    border-top: 1px $g5 solid;
    
    &__students{
      --thumbBG: #{$g6};
      --scrollbarBG: rgba($color: #000000, $alpha: 0);
      width: 100%;
      box-sizing: border-box;
      overflow: auto;
      border-right: 1px $g5 solid;
      scrollbar-width: thin;
      scrollbar-color: var(--thumbBG) var(--scrollbarBG);

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: rgba($color: #000000, $alpha: 0);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #000000, $alpha: 0) ;
        transition: background-color 300ms ease;
        border-radius: 6px;
      }

      &:hover{
        &::-webkit-scrollbar-thumb {
          background-color: var(--thumbBG) ;
        }
      }
    }

    &__pebl{
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      &__assignment{
        height: calc(100% - 70px);
        box-sizing: border-box;
        iframe{
          width: 100%;
          height: 100%;
          border: none;
          margin: 0;
          padding: 0;
        }
      }
      &__comment{
        display: flex;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.95);
        box-sizing: border-box;
        padding: 19px 33px 11px 19px;

        .input-field{
          flex: 1;
          margin-right: 28px;
        }
      }
    }
  }
}