@import 'variables.scss';

.assignment-page{
  $root: &;
  padding: 40px;
  padding-left: 64px;
    
  &__header-area{
    display: flex;
    align-items: center;
    color: $black;

    &__bread-crumbs{
      font-weight: $heavy-font-weight;
      font-size: 20px;
      margin-right: auto;
      display: flex;
      align-items: center;
      color: $black;
      a{
        font-weight: $heavy-font-weight;
        font-size: 20px;
        color: $black;
        text-decoration: none;
      }
    }

    &__date-label{
      margin-right: 16px;
      color: $black;
    }
  }

  &__action-area{
    height: 40px;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__dropdowns{
      display: flex;
      width: 323px;
      padding: 0 10px;
      box-sizing: border-box;
    }
    &__turned-in{
      color: $black;
      span{
        font-size: 21px;
        font-weight: 700;
      }
    }
  }

  &__container{
    width: 100%;
    height: calc(100% - 177px);
    display: grid;
    grid-template-columns: 323px calc(100% - 323px);
    border-top: 1px $g5 solid;
    
    &__students{
      --thumbBG: #{$g6};
      --scrollbarBG: rgba($color: #000000, $alpha: 0);
      width: 100%;
      box-sizing: border-box;
      overflow: auto;
      border-right: 1px $g5 solid;
      scrollbar-width: thin;
      scrollbar-color: var(--thumbBG) var(--scrollbarBG);

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: rgba($color: #000000, $alpha: 0);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #000000, $alpha: 0) ;
        transition: background-color 300ms ease;
        border-radius: 6px;
      }

      &:hover{
        &::-webkit-scrollbar-thumb {
          background-color: var(--thumbBG) ;
        }
      }
    }

    &__pebl{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      $comment-height: 70px;

      &__assignment{
        height: calc(100% - #{$comment-height});
        box-sizing: border-box;
        iframe{
          width: 100%;
          height: 100%;
          border: none;
          margin: 0;
          padding: 0;
        }
      }
      &__comments-container{
        height: $comment-height;
        background-color: rgba(255, 255, 255, 0.95);
        box-sizing: border-box;
        padding: 19px 73px 11px 19px;
        margin-right: -40px;
        position: relative;

        &__comments{
          position: absolute;
          bottom: calc(100% - 2px);
          left: 0;
          box-sizing: border-box;
          background-color: rgb(255, 255, 255);
          padding-right: 73px;
          width: 100%;
          max-height: calc(178px - #{$comment-height});
          .scroll{
            max-height: calc(178px - #{$comment-height});
            padding: 19px 0px 11px 19px;
            box-sizing: border-box;
            height: 100%;
            overflow: auto;
  
            --thumbBG: #{$g6};
            --scrollbarBG: rgba($color: #000000, $alpha: 0);
  
            scrollbar-width: thin;
            scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  
            &::-webkit-scrollbar {
              width: 8px;
            }
            &::-webkit-scrollbar-track {
              background: rgba($color: #000000, $alpha: 0);
            }
            &::-webkit-scrollbar-thumb {
              background-color: rgba($color: #000000, $alpha: 0) ;
              transition: background-color 300ms ease;
              border-radius: 6px;
            }
  
            &:hover{
              &::-webkit-scrollbar-thumb {
                background-color: var(--thumbBG) ;
              }
            }

          }

          &__comment{
            display: flex;
            margin: 16px 0;
            
            &:first-child{
              margin-top: 0;
            }

            &:last-child{
              margin-bottom: 0;
            }
          }

          &__comment-from{
            margin-right: 16px;
            font-weight: 500;
            white-space: nowrap;

            &.teacher{
              color: #006a98;
            }
          }
        }
        
        &__comment-text-box{
          display: flex;
          .input-field{
            flex: 1;
            margin-right: 28px;
          }
        }

      }
    }
  }
}