@import 'variables';
@import 'mixins';
@import 'modal';

.pages_title{
  margin-left: $large-margin;
  color: $light-gray;
}

.pages__list{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  max-height: 80%;
  width: 90%;
  padding-top: $large-margin;
  z-index: $z-index-layer-4;
  overflow-y: scroll;
  margin: 0 5%;
}

.pages__list {
  clear: both;
  display: flex;
  overflow-x: scroll;
}

.pages__folder-container {
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 25%;

  &:last-child {
    flex: 1;
    min-width: 50%;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.pages__folder-container-header {
  background: #C4C4C4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $medium-padding;
}

.pages__folder-title {
  font-size: 18px;
}

.pages__new-folder-wrapper {
  position: relative;
}

.pages__new-folder {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: black;
  fill: transparent;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition-duration: unset;
  transition-duration: unset;

  &:hover {
    border: none;
    color: black;
    background: transparent;
  }
}

.pages__new-folder-dropdown {
  background: white;
  border: 1px solid #C4C4C4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  list-style-type: none;
  margin: 15px 0 0;
  padding: 0;
  position: absolute;
}

.pages__new-folder-dropdown-item {
  padding: 10px 17.5px;

  &:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
  }

  &:hover {
    cursor: pointer;
  }
}

.pages__table-container {
  flex: 1;
  overflow-y: scroll;
}

.pages__table {
  border-spacing: 0 12px;
  padding: $medium-padding;
  width: 100%;
  list-style-position: inside;

  &_drop-target {
    background: $lighter-gray;
  }
}

.pages__row {
  color: black;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.pages__col {
  background: #EAE8E8;
  border: 1px solid transparent;
  padding-top: $small-padding;
  padding-bottom: $small-padding;
  text-align: $left-align;
  width: 25%;

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 0.3rem;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 0.3rem;
  }

  &_title {
    width: 33%;
  }

  &_selected-folder {
    background: #FFC5BF;
    border-top: 1px solid #E07063;
    border-bottom: 3px solid #E07063;

    &:first-child {
      border-left: 1px solid #E07063;
    }

    &:last-child {
      border-right: 1px solid #E07063;
    }
  }

  &_selected-page {
    background: #7C7C7C;
  }

  &_drop-target {
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;

    &:first-child {
      border-left: 1px solid $blue;
    }

    &:last-child {
      border-right: 1px solid $blue;
    }

    &.pages__col_selected-folder {
      border-bottom: 3px solid $blue;
    }
  }
}

.pages__link {
  color: $gray;
}

.pages__header {
  background: transparent;
  color: #AFAFAF;
  font-size: 12px;
  font-weight: normal;
  padding: $medium-padding 0 $small-padding;
  text-align: $left-align;
  width: 25%;

  &_title {
    width: 33%;
  }

  &_uppercase {
    text-transform: uppercase;
  }
}

.pages__delete {
  border: none;
  background: none;
  float: right;
  fill: $medium-gray;

  &:hover {
    border: none;
    background: none;
    float: right;
    box-shadow: none;
    fill: $dark-gray;
  }
}
