@import 'variables';
@import 'base';
@import 'mixins';

.resize-container{
  min-height: auto !important;
  border: none;
  padding: $small-padding;

  &:hover {
    z-index: $z-index-layer-4 !important;
    border: 2px dashed $light-gray;
    border-radius: $small-border-radius;
  }
}

.canvas-preview-mode{
  & .resize-container {
    border: none;
  }
  & .react-resizable-handle {
    display: none;
  }
}

.canvas__powered-by {
  color: $g4;
  margin-top: 5rem;
  &-link {
    color: $green;
    text-decoration: none;
  }
}

.canvas{
  background-color: $whitish;
  width: $total-width;
  min-height:80vh;
  padding: 0 $canvas-padding;
  padding-top: $canvas-padding/2;
  margin: 0 auto;
  margin-top: 20px;
  height: fit-content;
  &__tag-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: $large-margin;
  }
  &__add-desc-button {
    @extend %peblio-button;
  }
  &__logo {
    width: 10%;
    margin-left: 90%;
  }
  &__logo-img {
    width: 100%;
  }
}

.canvas::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -1;
  right: 0;
}

.canvas-right {
  margin-left: $navigation-width !important;
}

.canvas-edit-mode {
  & .react-resizable-handle {
    display: block;
  }
}

.canvas-high {
  z-index: $z-index-layer-2;
}

.resize-container {
  border: $small-border solid $black;
  border-radius: $medium-border-radius;
  margin: $large-margin;
  padding: $small-padding/2;
}

.widget-nav__container {
  display: none;
  &_highlighted {
    display: block;
  }
}
.widget__container:hover .widget-nav__container {
  display: block;
}

.widget__container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: $widget-nav-height;
  top: -($widget-nav-height);
  z-index: -1;
}
