@import 'variables.scss';

.class-card{
  $root: &;
  width: 200px;
  height: 215px;
  padding: 16px;
  border-radius: 3.9px;
  box-shadow: 0 7.8px 10.5px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px $g7;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: box-shadow 300ms ease, border 300ms ease;
  position: relative;
  
  &:hover, &:focus, &:focus-within{
    box-shadow: 0 7.8px 10.5px 0 rgba(0, 0, 0, 0.22);
    border: solid 1px #008575;
    outline: none;
  }

  &__click-area{
    position: absolute;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    box-sizing: border-box;
    &:focus{
      outline: none;
    }
    &:hover{
      border: none;
    }
  }

  &__main{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  
    &__class-code{
      display: flex;
      font-weight: $heavy-font-weight;
      align-items: center;
      margin-right: -6px;

      &__container{
        margin-left: auto;
        position: relative;
        input{
          position: absolute;
          top: 0;
          left: 0;
          border: none;
          background: none;
          width: 10px;
          margin: 0 4px;
          cursor: pointer;
          transition: transform ease 50ms;
          &:focus{
            outline: none;
          }
          &::selection{
            color: none;
          }
        }

        &__span{
          background: #fff;
          font-family: $roboto;
          font-size: 14px;
          font-weight: $heavy-font-weight;
          color: $g3;
          position: relative;
          z-index: 2;
          padding-left: 4px;
          padding-right: -2px;
        }

        &__copied{
          position: absolute;
          top: calc(100% + 0px);
          left: 60%;
          transform: translateX(-20%);
          padding: 4px 8px;
          background: rgba($color: #000000, $alpha: 0.8);
          border-radius: 3px;
          color: white;
          font-size: 14px;
          font-weight: normal;
          opacity: 0;
          transition: opacity 100ms ease;

          &.active{
            opacity: 1;
          }
        }
      }
    }
  
    &__title{
      margin: 0;
      margin-top: 18px;
      font-size: $h2-size;
      font-family: $roboto;
      background: none;
      border: none;
      text-align: left;
      padding: 0;
      cursor: pointer;
    }
  
    &__subject{
      font-size: 14px;
      font-family: $roboto;
      font-weight: 300;
      margin-top: 8px;
    }
  
  
    &__card-footer{
      margin-top: auto;
      display: flex;
      font-family: $roboto;
      font-size: 12px;
      color: $g3;
      align-items: center;
  
      .circle{
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: $g3;
        margin: 0 4px;
      }
    }
  }

}