@import 'variables';
@import 'mixins';

.text-editor__container {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: none;

  &--edit { // sass-lint:disable-line class-name-format
    border: $gray dashed 1px;
    min-height: 100%;
  }
}

.text-editor__toolbar {
  position: absolute;
  top: 100%;
  z-index: $z-index-layer-2;
  width: $toolbar-width;
  border-color: $light-gray;
  border-radius: $small-border-radius;
  margin-left: -10px;
}

.rdw-image-modal-btn{
  color:black;
}

.rdw-embedded-modal-btn{
  color:black;
}

//
// .resize-container .widget__close{
//   display: none;
// }
//
// .resize-container:hover .widget__close {
//   display: inline-block;
// }
//
// .resize-container:focus .widget__close {
//   display: inline-block;
// }

.DraftEditor-editorContainer { // sass-lint:disable-line class-name-format
  & h1{
    font-size: $xlarge-font-size;
    font-family: $montserrat;
    line-height: $h1-line-height;
    margin: 0;
    padding: 0;
  }

  & h2{
    font-size: $large-font-size;
    font-family: $roboto;
    line-height: $h2-line-height;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
}

.public-DraftStyleDefault-block { // sass-lint:disable-line class-name-format
  margin: .1em .1em;
}

.text-editor__content {
  height: unset;

  .public-DraftEditor-content { // sass-lint:disable-line class-name-format
    overflow-y: auto;
  }
}
