@import 'variables';

.dashboard-nav {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
  }
  &__upper-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $black;
    justify-content: space-between;
  }
  &__lower-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-bottom: solid $small-border $g4;
    margin: 0 10%;
    justify-content: space-between;
    background: $white;
    padding: $medium-padding 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__list-item {
    padding-right: $xlarge-padding;
  }
  &__button {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid $small-border transparent;
    font-size: $p-size;
    color: $g4;
    font-weight: 500;
    &:hover {
      border: none;
      border-radius: 0;
      border-bottom: solid $small-border $b2;
      background: transparent;
      color: $b2;
    }
  }
  &__dropdown {
    height: $large-height;
    width: fit-content;
    border-radius: $small-border-radius/2;
    border: solid $small-border $g5;
    background: transparent;
    color: $g3;
    font-size: $small-font-size;
  }
  &__dropdown-label {
    font-size: $small-font-size;
    color: $g3;
    padding-right:$small-padding;
    line-height: $large-height;
    margin: 0;
  }
  &__dropdown-container {
    display: flex;
    flex-direction: row;
  }
  &__label {
    padding-left: $large-padding;
  }
  &__radio {
    & svg path {
      fill: $g3;
    }
    &--selected {
      & svg path {
        fill: $green;
      }
    }
  }
  &__hide {
    display: none;
  }
}
