.pebls {
  &__iframe {
    width: 1280px;
   height: 786px;
   border: 0;

   -ms-transform: scale(0.25);
   -moz-transform: scale(0.25);
   -o-transform: scale(0.25);
   -webkit-transform: scale(0.25);
   transform: scale(0.25);

   -ms-transform-origin: 0 0;
   -moz-transform-origin: 0 0;
   -o-transform-origin: 0 0;
   -webkit-transform-origin: 0 0;
   transform-origin: 0 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
  }
}
