body, html, h1, h2, h3{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  background-color: $white;
}

.canvas{
  background-color: white;
  width:$total-width;
  min-height:80vh;
  padding: $large-padding;
  margin-top: 10%;
}

.canvas-extra-margin {
  margin-top: 17%;
}

.resize-container {
  border: $small-border solid $black;
  border-radius: $medium-border-radius;
  margin: $large-margin;
  padding: $small-padding/2;
}

button {
  @extend %menu-item ;
}
