body, html, h1, h2, h3{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  background-color: $lighter-gray;
}

.canvas{
  background-color: white;
  width:$total-width;
  min-height:80vh;
  padding: $large-padding;
  box-shadow: -8px 0px 10px $light-gray;
  // overflow-y: scroll;


}

.resize-container {
  border: $small-border solid $black;
  border-radius: $medium-border-radius;
  margin: $large-margin;
}

button {
  @extend %menu-item ;
}
