body, html, h1, h2, h3{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  background-color: $medium-gray;
}

.canvas{
  background-color: white;
  width:$total-width;
  min-height:100vh;
  // margin: auto;
  padding: $medium-padding;
  border-radius: $medium-border-radius;
  box-shadow: -8px 0px 10px $boxShaddow-gray;
  // overflow-x: scroll;


}

.resize-container {
  border: $small-border solid $black;
  border-radius: $medium-border-radius;
}

button {
  @extend %menu-item ;
}
