.CodeMirror-scroll {
  z-index: 0;
}
.codeEditor__container {
  width: 100%;
}
.codeEditor__sub-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 65px);
  border: $thin-border-width solid $gray;
}


.codeEditor__input {
  width: 50%;
  height: auto;
  border-right: $thin-border-width solid $gray;
  overflow:scroll;

}
.codeEditor__output {
  width: 100%;
  height: auto;
  overflow:scroll;
  background-color: $black;
  padding: 0;
  margin: 0;
}

.codeEditor__output-text {
  color:$white;
}

.codeEditor__console{
  background-color: $black;
  color:$white;
  padding: 0 $small-padding;
}

#code-output{
  background-color: $black;
  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
  border: none;
}

canvas{
  padding: 0;
  margin: 0;
}

.codeEditor_totalContainer{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: auto;
  @extend %editor_nav;
}
