.CodeMirror-scroll { // sass-lint:disable-line class-name-format
  z-index: $z-index-layer-0;
}

.code-editor__container {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
}

.code-editor__sub-container {
  display: flex;
  flex-direction: row;
  border: none;
}

.code-editor__input {
  height: 100%;
  border-right: $thin-border-width solid $gray;
  overflow:scroll;

}
.code-editor__output-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  &--show { // sass-lint:disable-line class-name-format
    display: block;
  }
}

.code-editor__output {
  width: 100%;
  height: 100%;
  overflow:scroll;
  background-color: $black;
  padding: 0;
  margin: 0;
  z-index: $z-index-layer-1;
}

.code-editor__output-text {
  color:$white;
}


#code-output{
  background-color: $black;
  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
  border: none;
}

canvas{
  padding: 0;
  margin: 0;
}

.code-editor__total-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: auto;
}

.console__output-text{
  font-family: 'Inconsolata', monospace !important;
  margin: 0;
  padding: $small-padding;
}

.code-editor__console{
  border-radius: 0 0  $medium-border-radius $medium-border-radius;
  background-color: $dark-gray;
  height: 100%;
  overflow-y: scroll;
  color:$white;
  padding: 0 $small-padding;
}

// sass-lint:disable class-name-format
.Resizer {
  background: #000;
  opacity: .2;
  z-index: $z-index-layer-1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
