.console_outputText{
  font-family: 'Inconsolata', monospace !important;
  margin: 0;
  padding: $small-padding;
}

.codeEditor__console{
  border-radius: 0 0  $medium-border-radius $medium-border-radius;
  background-color: $dark-gray;
}
