.element__iframe{
  width: 100%;
  height: calc(100% - 40px);
  padding: 0;
  min-width: 300px;
  @extend %editor_nav;
}
.element__addURL{
  background-color: $light-gray;
  margin: 0;
  height:auto;
  display: flex;
  flex-direction: row;
}

iframe{
  width:100%;
  height:100%;
  background-color: $lighter-gray;

}

.element__label{
  margin-right: $small-margin;
  font-style: bold;
  padding: $small-padding;
  width: calc(100% - 90px);
}

.element__input{
margin-left: $small-padding;
width:calc(100% - 50px);
height:1.5rem;
border: 1px black;
border-radius: $small-border-radius;
padding: $small-padding;
}

.element__button{
  width:80px;
  height:1.5rem;
  margin: $small-padding;
  border: 1px black;
  border-radius: $small-border-radius;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    background-color: $dark-gray;
    color: white;
    border: none;
    cursor: pointer;
  }
}
