iframe{
  width:100%;
  height: 100%;
  background-color: $lighter-gray;

}

.element__iframe{
  min-height:auto;
  // padding: $small-padding;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
}

.element__iframe-container:hover .element__add-url{
  min-height:40px;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.element__add-url{
  display: none;
  margin-top: -40px;
}

.element__add-url:hover {
  min-height:40px;
  display: flex;
  flex-direction: row;
}


.element__label{
  margin-right: $small-margin;
  font-style: bold;
  padding: $small-padding;
  width: calc(100% - 90px);
}

.element__input{
  margin-left: $small-padding;
  width:calc(100% - 50px);
  height:1.5rem;
  border: 1px $black;
  border-radius: $small-border-radius;
  padding: $small-padding;
}

.element__button{
  width:80px;
  height:1.5rem;
  margin: $small-padding;
  border: 1px $black;
  border-radius: $small-border-radius;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    background-color: $dark-gray;
    color: $white;
    border: none;
    cursor: pointer;
  }
}
