.insertToolbar__container {
  display: flex;
  @include flex;
  flex-direction: row;
  margin: $medium-padding $medium-padding $small-padding;
  color: $gray;
  width: $total-width;
  padding: 0 $small-padding $medium-padding 0;
  min-height: 2rem;
}
.insertToolbar__button {
  @extend %menu-item;
  margin: 0 $small-margin;
  padding: $small-padding/2 $small-padding;
  background-color: $gray;
  box-shadow: 3px 5px 5px #888888;

}

.insertToolbar__icon{

  display: block;
  width: 20px;
  margin: auto;
  margin-bottom: $small-margin/2;
}

// #Shape:hover {
//     fill:black;
// }

.insertToolbar__button:hover #Shape {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  fill:black;
  stroke:black;
}
