.insertToolbar__container {
  display: flex;
  // position: fixed;
  @include flex;
  flex-direction: row;
  width: 100%;
  padding: 0 $small-padding $small-padding 0;
  min-height: 2em;
  background-color: $lighter-gray;
  z-index: 1;

}
.insertToolbar__button{
  color:$black;
  // @extend %menu-item;
  margin: 0 $small-margin;
  padding: $small-padding/2 $small-padding;
  background-color: $lighter-gray;
  border:none !important;
  text-transform: uppercase;
  // box-shadow: 3px 5px 5px $boxShaddow-gray;
  &:hover{
    color:$blue;
    box-shadow: none;
    background-color: $hover-gray;
  }
}

.insertToolbar__icon{
  display: block;
  width: 20px;
  margin: auto;
  margin-bottom: $small-margin/2;
}

#Shape{
  fill:$black;
  stroke:none;
}
.insertToolbar__button:hover #Shape {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  fill:$blue;

}
