.insertToolbar__container {
  display: flex;
  @include flex;
  flex-direction: row;
  margin: 0 $medium-padding;
  color: $gray;
  width: $total-width;
  padding: $small-padding;
  min-height: 2rem;
}
.insertToolbar__button {
  @extend %menu-item;
  margin: 0 $small-margin;
  padding: $small-padding/2 $small-padding;
}

.insertToolbar__icon{

  display: block;
  width: 20px;
  margin: auto;
  margin-bottom: $small-margin/2;
}

// #Shape:hover {
//     fill:black;
// }

.insertToolbar__button:hover #Shape {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    fill:black;
    stroke:black;


}
