.loginModal_content{
  margin: auto;
  width: 45%;
  padding-top: 5%;
}

.loginModal_div{
  display: block;
  text-align: left;
}

.loginModal_title{
  font-size: 35px;
  display: block;
  text-align: center;
  margin: $small-margin;
}

.loginModal_label{
  font-size: 20px;
  font-style: bold;
  text-align: left;
  display: block;
  color: $light-gray;
  margin-top: $medium-margin;
}

.loginModal_input{
  border-radius: $small-border-radius;
  width:100%;
  height: 35px;
  display: block;
  background-color: $lighter-gray;
  border: 2px $gray;
  padding: $small-padding $medium-padding;
}

.loginModal_button{
  font-size: 20px;
  background-color: $gray;
  display: block;
  color: $white;
  margin-top: $large-margin;
  width: 30%;
  padding: 10px;
}
