@import './variables';
@import './base';

@import './codeEditor';
@import './editorToolbar';
@import './insertToolbar';
@import './mainToolbar';
@import './textEditor';
@import './textToolbar';


.mainToolbar_title{
height:40px;
margin: 15px $small-padding*3;
background-color: $black;
color:$white;
font-size: 35px;
border: none;

}
