.mainToolbar{
  padding: 0 $large-padding $small-padding 0;
  background-color: #242424;
  height: 3.5em;
  box-shadow: 3px 5px 5px $boxShaddow-gray;
}

.logo_toolbar{
  // width: 100px;
  // height: 100%;
  margin: $medium-margin $small-margin;
  padding: $medium-padding/2 $medium-padding;
}


.mainToolbar__title{
  height:35px;
  margin: $medium-padding 0 0;
  padding: $small-padding;
  background-color: $white;
  color:$gray;
  font-size: 1em;
  border-radius: 5px;
  width:15%;
  float: left;
 }

.mainToolbar__unsaved-ind {
  color: $light-gray;
  position: absolute;
  left: $micro-margin;
  top: $micro-margin;
  font-size: 2rem;
}
.mainToolbar__welcome {
color: $white;
margin: $medium-margin $small-margin;
padding: $medium-padding/2 $medium-padding;
float: right;
font-size: 14px;
font-weight: bold;
}

.mainToolbar__file{
  @extend %mainToolbar__button;
  position: relative;
}

.mainToolbar__save{
  @extend %mainToolbar__button;
}

.mainToolbar__new{
  @extend %mainToolbar__button;
}

.mainToolbar__open{
  @extend %mainToolbar__button;

}
.mainToolbar__div-left{
    @include flex;
    float: left;
}

.upperToolbar__dropdown{
  margin: $medium-padding $small-padding 0;
  border: none;
  border-radius: 0;
  width: 80px;
  color: $gray;
  background: none;
  height:40px;
  font-style: bold;
  font-size: 1em;
}


.mainToolbar__div-right{
  @include flex;
  float: right;
}
