.mainToolbar{
  padding: 0 $large-padding 0 0;
}

.mainToolbar__title{
  height:40px;
  margin: $medium-padding $large-padding auto;
  background-color: $black;
  color:$white;
  font-size: 35px;
  border: none;
  width:30%;
  float: left;
 }

.mainToolbar__welcome {
  @extend %mainToolbar__button;
}

.mainToolbar__file{
  @extend %mainToolbar__button;
  position: relative;
}

.mainToolbar__save{
  @extend %mainToolbar__button;
}

.mainToolbar__new{
  @extend %mainToolbar__button;
}

.mainToolbar__open{
  @extend %mainToolbar__button;

}

.mainToolbar__div-left{
  @include flex;
  float: left;
}
.mainToolbar__div-right{
  @include flex;
  float: right;
}
