.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-layer-4;
}

.main-toolbar__container{
  width: 100%;
}

.main-toolbar{
  padding: 0 $large-padding $small-padding 0;
  background-color: $black;
  height: 4.5em;
}

.logo_toolbar{
  margin: $medium-margin $small-margin;
  padding: $medium-padding/2 $medium-padding;
}

.main-toolbar__title{
  height:35px;
  margin: $medium-padding 0 0;
  padding: $small-padding;
  background-color: $black;
  border-top:  $black;
  border-left:  $black;
  border-right:  $black;
  border-color: $light-gray;
  color:$gray;
  font-size: 1em;
  width:15%;
  float: left;
 }

.main-toolbar__save {
  @extend %mainToolbar__blueButton
}

.main-toolbar__account-button{
  margin: $small-margin;
  padding: $small-padding;
  border: none;
  background: $black;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  &:hover {
    cursor: pointer;
    background: $black;
    border: none;
  }
}

.main-toolbar__account-button:hover #accountMan{
  fill:$blue;
}

.main-toolbar__welcome {
  color: $black;
  padding-left: 0.5rem;
  font-size: 14px;
  font-weight: bold;


}

.main-toolbar__account{
  background-color: $white;
  border: 2px solid;
  border-color: $light-gray;
  padding: $small-padding;
  position: absolute;
  border-radius: $medium-border-radius;
  margin-left: -20px;
  z-index: $z-index-layer-2;
}

.main-toolbar__preview {
  color: $white;
  margin: $medium-margin $small-margin;
  padding: $medium-padding/2 $medium-padding;
}

.main-toolbar__file{
  @extend %mainToolbar__button;
  position: relative;
}

.main-toolbar__button{
  @extend %mainToolbar__button;
}

.main-toolbar__new{
  @extend %mainToolbar__button;
}

.main-toolbar__open{
  @extend %mainToolbar__button;

}
.main-toolbar__div-left{
  @include flex;
  float: left;
}

.upper-toolbar__dropdown{
  margin: $medium-padding $small-padding 0;
  border: none;
  border-radius: 0;
  width: 80px;
  color: $gray;
  background: none;
  height:40px;
  font-style: bold;
  font-size: 1em;
}


.main-toolbar__div-right{
  @include flex;
  float: right;
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
.main-toolbar__preview-on{
  display: none;
}

input[type="checkbox"]:checked ~ .main-toolbar__preview-on {
  display:  inline-block;
}

input[type="checkbox"]:checked ~ .main-toolbar__preview-off {
  display: none;
}

input[type="checkbox"] ~ .main-toolbar__preview-off {
  display: inline-block;
}

.main-toolbar__preview-title {
  display: inline-block;
  vertical-align: middle;
  padding-left: $small-padding;

}

.main-toolbar__preview:hover .main-toolbar__preview-title {
  color: $blue;
}

.main-toolbar__preview:hover #preview-on {
  fill: $blue;
}

.main-toolbar__preview:hover #preview-off {
  fill: $blue;
}

.demo-notice{
  padding:$small-padding $medium-padding;
  background-color: #E07063;
}
