.ReactModal__Overlay { // sass-lint:disable-line class-name-format
  z-index: $z-index-layer-3;
}

.modal__large{
  @extend %modal;
  width: 60%;
  height:70%;
}

.modal__small{
  @extend %modal;
  width: 60%;
  height: 10%;
}

.modal__close-button{
  float:right;
  padding: 4px;
}


ol{
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;
}
ol li{
  padding: 1.5rem;
  color: $gray;
}

ol li:nth-child(odd){
  background: $lighter-gray;
}

ol li a{
  color: $gray;
}
