.Modal{
  @extend %modal;
  width: 60%;
  height:70%;
}

.Modal_closeButton{
  float:right;
  padding: 4px;
}


ol{
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;
}
ol li{
  padding: 1.5rem;
  color: $gray;
}

ol li:nth-child(odd){
  background: $lighter-gray;
}

ol li a{
  color: $gray;
}
