.ReactModal__Overlay { // sass-lint:disable-line class-name-format
  z-index: $z-index-layer-4;
  background-color: $modal-overlay !important;
}

.modal__large{
  @extend %modal;
  width: 60%;
  height:70%;
}

.modal__small{
  @extend %modal;
  width: 60%;
}

.modal__close-button{
  float:right;
  padding: 4px;
}


.pages_list ol{
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;
}
.pages_list ol li{
  padding: 1.5rem;
  color: $gray;
}

.pages_list ol li:nth-child(odd){
  background: $lighter-gray;
}

.pages_list ol li a{
  color: $gray;
}

.file-modal__list ol{
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;
}
.file-modal__list ol li{
  padding: 1.5rem;
  color: $gray;
}

.file-modal__list ol li:nth-child(odd){
  background: $lighter-gray;
}

.file-modal__list ol li a{
  color: $gray;
}


%modal__title{
  font-size: $large-font-size;
  font-weight: $medium-font-weight;
  display: block;
  text-align: center;
  margin: $small-margin;
}

%modal__label{
  font-size: $medium-font-size;
  font-style: bold;
  text-align: left;
  display: block;
  color: $light-gray;
  margin-top: $medium-margin;
}

%modal__button {
  font-size: $medium-font-size;
  background-color: $gray;
  display: block;
  color: $white;
  margin-top: $large-margin;
  width: 100%;
  padding: 10px;
}

%modal__input {
  border-radius: $small-border-radius;
  width:100%;
  height: 35px;
  display: block;
  background-color: $lighter-gray;
  border: 2px $gray;
  padding: $small-padding $medium-padding;
}

%modal__notice {
  font-size: $normal-font-size;
  color: $blue;
}
