@import 'variables';
@import 'mixins';

.ReactModal__Overlay { // sass-lint:disable-line class-name-format
  z-index: $z-index-layer-4;
  background-color: $modal-overlay !important;
}

%modal{
  background: $white;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: $medium-border-radius;
  border: 2px solid $gray;
  outline: 0;
  padding: 10px;
  position: relative;
}

%modal__title{
  font-size: $large-font-size;
  font-weight: $medium-font-weight;
  display: block;
  text-align: center;
  margin: $small-margin;
}

%modal__label{
  font-size: $medium-font-size;
  font-style: bold;
  text-align: left;
  display: block;
  color: $light-gray;
  margin-top: $medium-margin;
}

%modal__button {
  font-size: $medium-font-size;
  background-color: $gray;
  display: block;
  color: $white;
  margin-top: $large-margin;
  width: 100%;
  padding: 10px;
}

%modal__input {
  border-radius: $small-border-radius;
  width:100%;
  height: 35px;
  display: block;
  background-color: $lighter-gray;
  border: 2px $gray;
  padding: $small-padding $medium-padding;
}

%modal__notice {
  font-size: $normal-font-size;
  color: $blue;
  justify-content: center;
  display: flex;
}

.modal__xlarge {
  @extend %modal;
  width: 75%;
  height: 70%;
  background: #EAE8E8;
  padding: 30px;
}

.modal__large{
  @extend %modal;
  width: 60%;
  height:70%;
}

.modal__small{
  @extend %modal;
  width: 60%;
}

.modal__close-button{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: black;
  fill: transparent;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition-duration: unset;
  transition-duration: unset;

  &:hover {
    border: none;
    color: black;
    background: transparent;
  }
}
