.reset-modal__content{
  margin: auto;
  width: 45%;
  padding-top: 5%;
}

.reset-modal__div{
  display: block;
  text-align: left;
}

.reset-modal__title{
  @extend %modal__title;
}

.reset-modal__label{
  @extend %modal__label;
}

.reset-modal__input{
  @extend %modal__input;
}

.reset-modal__button{
  @extend %modal__button;
}

.reset-modal__notice {
  @extend %modal__notice;
}
