.resize-container{
  min-width: 200px;
  min-height: auto !important;
  border: 2px dashed $light-gray;
  border-radius: $small-border-radius;
  &:hover {
    z-index: 10;
  }
}

.preview-mode .resize-container {
  border: none;
}
