.resize-container{
  // min-width: 100px;
  min-height: auto !important;
  border: none;
  padding: $small-padding;


  &:hover {
    z-index: 10;
    border: 2px dashed $light-gray;
    border-radius: $small-border-radius;
  }
}

.preview-mode .resize-container {
  border: none;
}
