.resize-container{
  min-height: auto !important;
  border: none;
  padding: $small-padding;

  &:hover {
    z-index: $z-index-layer-4 !important;
    border: 2px dashed $light-gray;
    border-radius: $small-border-radius;
  }
}

.preview-mode .resize-container {
  border: none;
}
