.share__container {
  padding: 5%;
  height: 40%;
  display: flex;
  justify-content: space-around;
}

.share__input {
  width: 60%;
  font-size: 1rem;
}

.share__button {
  width: 20%;
  font-size: 1rem;
}
