@media screen and (max-width: 1025px) {

.main-toolbar__div-right{
  width:100%;
  margin: none;
  background-color: $dark-gray;
}

.main-toolbar__preview-title{
  display: none;
}

.main-toolbar__div-right-inside{
  @include flex;
  margin: auto;
}

.canvas{
  margin-top: 150px;
}

.canvas-extra-margin {
    margin-top: 210px;
}
}
