// for main toolbar and editing text in textarea
%menu-item {
  border: $thin-border-width solid $white;
  border-radius: $small-border-radius;
  color: $white;
  background-color: $black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}

// used for editor toolbar
%small-button{
  border: $thin-border-width solid $black;
  border-radius: $medium-border-radius;
  color: $black;
  background-color: $white;
  height: 1.5rem;
  margin: $small-padding ;
  padding: $small-padding $medium-padding;
  // @include gradient(white, $light-gray);
  &:hover {
    // box-shadow: 3px 3px 1px $gray;
    cursor: pointer;
    @include gradient(white, $light-gray);
  }
}

//deleting and moving elements on the canvas
%element_controls{
  border: none;
  background-color: white;
  margin-bottom:$small-margin/2;
  fill: black;
  margin-top: -45px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  &:hover {
    border: none;
    fill: $light-gray;
    cursor: pointer;
  }
}

%mainToolbar__button{
  margin: $large-margin $small-margin;
  padding: $medium-padding/2 $medium-padding;
  float: right;
  font-size: 14px;
  font-weight: bold;
  border: $thin-border-width solid $white;
  border-radius: $small-border-radius;
  color: $white;
  background-color: $black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}
