// for main toolbar and editing text in textarea
%menu-item {
  border: $thin-border-width solid $white;
  border-radius: $small-border-radius;
  color: $white;
  fill:$white;
  background-color: $dark-gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
    // box-shadow: 1px 1px 3px $boxShaddow-gray;

  }
}

// used for editor toolbar
%small-button{
  border: $thin-border-width  $black;
  border-radius: $medium-border-radius;
  color: $black;
  background-color: $white;
  height: 1.5rem;
  margin: $small-padding ;
  padding: $small-padding $medium-padding;
  // @include gradient(white, $light-gray);
  &:hover {
    // box-shadow: 3px 3px 1px $gray;
    cursor: pointer;
    @include gradient(white, $light-gray);
  }
}

//deleting and moving elements on the canvas
%editor_nav {
    width: 60px;
    display: inline-block;
    margin: -30px 0 0px -2px;
    background-color: white;
    padding: 5px 5px 2px;
    border: 1px solid #c3c3c3;
    border-bottom: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-shadow: 0px -2px 5px -2px rgba(0, 0, 0, 0.1);
}
%element_controls{
  border: none;
  background-color: white;
  outline: 0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  &:hover{
  cursor: pointer;
  fill: black;
  padding: 3px 7px;
  border: none;
  fill: $light-gray; 
  }
}

%mainToolbar__button{
  margin: $medium-margin $small-margin;
  padding: $medium-padding/2 $medium-padding;
  float: right;
  font-size: 14px;
  font-weight: bold;
  border: $thin-border-width solid $white;
  border-radius: $small-border-radius;
  color: $white;
  background-color: $dark-gray;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}

%modal{
  background: $white;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: $medium-border-radius;
  border: 2px solid $gray;
  padding: 10px;
}
