// for main toolbar and editing text in textarea
%menu-item {
  border: $thin-border-width solid $white;
  border-radius: $small-border-radius;
  color: $white;
  fill:$white;
  background-color: $dark-gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}

// used for editor toolbar
%small-button{
  border: $thin-border-width  $black;
  border-radius: $medium-border-radius;
  color: $black;
  background-color: $white;
  height: 1.5rem;
  margin: $small-padding ;
  padding: $small-padding $medium-padding;
  &:hover {
    cursor: pointer;
    @include gradient(white, $light-gray);
  }
}
%modal{
  background: $white;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: $medium-border-radius;
  border: 2px solid $gray;
  padding: 10px;
}
