// for main toolbar and editing text in textarea
%menu-item {
  border: $thin-border-width solid $white;
  border-radius: $small-border-radius;
  color: $white;
  fill:$white;
  background-color: $dark-gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}

// used for editor toolbar
%small-button{
  border: $thin-border-width  $black;
  border-radius: $medium-border-radius;
  color: $black;
  background-color: $white;
  height: 1.5rem;
  margin: $small-padding ;
  padding: $small-padding $medium-padding;
  &:hover {
    cursor: pointer;
    @include gradient(white, $light-gray);
  }
}

//deleting and moving elements on the canvas
%element_controls{
  background-color: $lighter-gray;
  outline: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  margin-bottom: 5px !important;
  fill: $blue;
  border-radius: $large-border-radius;
  padding:$small-padding;
  border: none;

  &:hover{
    cursor: pointer;
    border: none;
    fill: $light-gray;
  }
}

%mainToolbar__button{
  margin: $medium-margin $small-margin;
  padding: $medium-padding/2 $medium-padding;
  float: right;
  font-size: 14px;
  font-weight: bold;
  border: $thin-border-width solid $white;
  border-radius: $small-border-radius;
  color: $white;
  background-color: $dark-gray;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}

%mainToolbar__blueButton{
  margin: $medium-margin $small-margin;
  padding: $medium-padding/2 $medium-padding;
  width: 78px;
  float: right;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: $small-border-radius;
  color: $white;
  background-color: $blue;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  &:hover {
    border: $thin-border-width solid $gray;
    color: $white;
    background: $dark-blue;
    cursor: pointer;
  }
}

%modal{
  background: $white;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: $medium-border-radius;
  border: 2px solid $gray;
  padding: 10px;
}
