.DraftEditor-editorContainer { // sass-lint:disable-line class-name-format
  height: 100%;
}

.text-editor__container {
  width: 100%;
  height:100%;
  margin: 0;
  background: none;
  &--edit { // sass-lint:disable-line class-name-format
    border: $gray dashed 1px;
  }
}

.text-editor__toolbar {
  position: absolute;
  top: 100%;
  z-index: $z-index-layer-2;
  width: $toolbar-width;
  border-color: $light-gray;
  border-radius: $small-border-radius;
  margin-left: -10px;
}

.rdw-image-modal-btn{
  color:black;
}

.rdw-embedded-modal-btn{
  color:black;
}

.element__control{
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
  }
}

.resize-container .element__close{
  display: none;
}

.resize-container:hover .element__close {
  display: inline-block;
}

.resize-container:focus .element__close {
  display: inline-block;
}
.element__close{
  @extend %element_controls;
}

#ShapeCNTRL{
  fill:$blue;
}

.element__close:hover #ShapeCNTRL{
  fill:$light-gray;
}

.dragClassName{ // sass-lint:disable-line class-name-format
  @extend %element_controls;

}

.element__nav{
  float:right;
  display: inline-block;
  width:$nav-width;
  margin-right: -45px;
  margin-top: -5px;
}

.text-editor__container h1{
  font-size: 32;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.text-editor__container h2{
  font-size: 24;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.public-DraftStyleDefault-block {
    margin: .1em .1em;
  }
