// .public-DraftEditor-content{
// margin: $small-padding;
// }
.DraftEditor-editorContainer{
  // border: 1px solid $light-gray;
  // padding: $small-padding;
  height: 100%;
}

.textEditor__container {
 width: 100%;
 margin: 0;
}

.textEditor__nav {
 width: 100%;
 margin: 0;
}

.textEditor__toolbar {
  position: absolute;
  transform: translateY(-100%);
}

.textToolbar__container{
  background-color: $black;
  overflow: visible;
  width: 100%;
  border-radius: 0 0 $small-border-radius $small-border-radius;
}

.element__control{
  fill: black;
  outline: none;
  &:hover {
    fill: $light-gray;
    cursor: pointer;
  }
}

.element__close{
  @extend %element_controls;
  &:hover {
    fill:$light-gray;
    box-shadow: none;
  }
}

.dragClassName{
  @extend %element_controls;
}
