.DraftEditor-editorContainer{
  margin-top: -5px;
  height: 100%;
}

.textEditor__container {
  width: 100%;
  margin: 0;
}

.textEditor__nav {
  width: 100%;
  margin: 0;
}

.textEditor__toolbar {
  position: absolute;
  transform: translateY(-94%);
  z-index: 100;
}

.rdw-image-modal-btn{
  color:black;
}

.rdw-embedded-modal-btn{
  color:black;
}

.textEditor__content {
  padding: 10px;
}
.textToolbar__container{
  background-color: $black;
  overflow: visible;
  width: 100%;
  border-radius: 0 0 $small-border-radius $small-border-radius;
}

.element__control{
  fill: black;

  &:hover {
    fill: $light-gray;
    cursor: pointer;
  }
}

.resize-container .element__close{
  display: none;
}

.resize-container:hover .element__close {
  display: inline-block;
}

.element__close{
  @extend %element_controls;
}

.element__close:hover #ShapeCNTRL{
  fill:$light-gray;
}

.dragClassName{
  @extend %element_controls;

}
