.DraftEditor-editorContainer { // sass-lint:disable-line class-name-format
  // margin-top: -5px;
  height: 100%;
}

.text-editor__container {
  width: 100%;
  margin: 0;
}

// .text-editor__nav {
//   width: 100%;
//   margin: 0;
// }

.text-editor__toolbar {
  position: absolute;
  transform: translateY(-115%);
  z-index: 100;
  width: 500px;
  border-color: $light-gray;
  border-radius: $small-border-radius;
  margin-left: -10px;
}

.rdw-image-modal-btn{
  color:black;
}

.rdw-embedded-modal-btn{
  color:black;
}

.element__control{
  fill: $black;

  &:hover {
    fill: $light-gray;
    cursor: pointer;
  }
}

.resize-container .element__close{
  display: none;
}

.resize-container:hover .element__close {
  display: inline-block;
}

.element__close{
  @extend %element_controls;
}

#ShapeCNTRL{
  fill:$blue;
}

.element__close:hover #ShapeCNTRL{
  fill:$light-gray;
}

.dragClassName{ // sass-lint:disable-line class-name-format
  @extend %element_controls;

}

.element__nav{
  float:right;
  display: inline-block;
  width:35px;
  margin-right: -45px;
  margin-top: -15px;
}
