.DraftEditor-editorContainer { // sass-lint:disable-line class-name-format
  margin-top: -5px;
  height: 100%;
}

.text-editor__container {
  width: 100%;
  margin: 0;
}

.text-editor__nav {
  width: 100%;
  margin: 0;
}

.text-editor__toolbar {
  position: absolute;
  transform: translateY(100%);
  z-index: 100;
}

.rdw-image-modal-btn{
  color:black;
}

.rdw-embedded-modal-btn{
  color:black;
}

.text-editor__content {
  padding: 10px;
}

.element__control{
  fill: black;

  &:hover {
    fill: $light-gray;
    cursor: pointer;
  }
}

.resize-container .element__close{
  display: none;
}

.resize-container:hover .element__close {
  display: inline-block;
}

.element__close{
  @extend %element_controls;
}

.element__close:hover #ShapeCNTRL{
  fill:$light-gray;
}

.dragClassName{ // sass-lint:disable-line class-name-format
  @extend %element_controls;

}
