.textToolbar__container {
  display: flex;
  flex-direction: row;
  color: $gray;
  width: 100%;
  padding: 0 ;
}
.textToolbar__button {
  @extend %menu-item;
  margin: $small-margin/2;
  padding: $medium-padding/2;
}
.textToolbar__select {
  @extend %menu-item;
}
