//colors
$white: #FFFFFF;
$lighter-gray: #F0F0F0;
$light-gray: #AAAAAA;
$medium-gray: #B1B1B1;
$boxShaddow-gray: #888888;
$hover-gray:#CFCFCF;
$canvas-gray: #E6E6E6;

$gray: #888;
$black: #000;
$dark-gray:#242424;

$blue: #009887;
$dark-blue: #007C6E;

//size
$total-width: 1440px;

//padding
$small-padding: .5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;

//stroke width
$thin-border-width: 1px;
$medium-border-width: 2px;

//margin
$micro-margin: .2rem;
$small-margin: .5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;

//radius
$small-border-radius: 6px;
$medium-border-radius: 12px;
$large-border-radius: 20px;

//border
$small-border: 1px;

//fonts
$helvetica: Arial, Helvetica, sans-serif;
$medium-font-size: 1rem;
$normal-font-size: 0.8rem;
$large-font-size: 1.5rem;


//sizes
$nav-width:35px;
$toolbar-width: 500px;
$main-toolbar-height:80px;
$insert-toolbar-height:40px;

//z-indexes
$z-index-layer-0: 0;
$z-index-layer-1: 100;
$z-index-layer-2: 200;
$z-index-layer-3: 300;
$z-index-layer-4: 400;
