//colors
$white: #FFFFFF;
$whitish: #FBFBFB;

$lighter-gray: #F0F0F0;
$light-gray: #AAAAAA;
$medium-gray: #B1B1B1;
$boxShaddow-gray: #888888;
$hover-gray:#CFCFCF;
$canvas-gray: #E6E6E6;

$gray: #888;
$black: #1C2524;
$dark-gray:#242424;

$blue: #009887;
$dark-blue: #007C6E;
$green: #189888;

$tab-yellow: #FFD210;
$tab-black: #00151F;
$tab-blue: #006B99;
$tab-pink: #970075;


$modal-overlay: rgba(0,0,0,0.45);

//size
$total-width: 1200px;

//padding
$small-padding: .5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;
$main-toolbar-padding:15 10 15 10;

//stroke width
$thin-border-width: 1px;
$medium-border-width: 2px;

//margin
$micro-margin: .2rem;
$small-margin: .5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;
$xlarge-margin: 3.5rem;

//radius
$small-border-radius: 6px;
$medium-border-radius: 12px;
$large-border-radius: 20px;

//border
$small-border: 1px;

//fonts
$helvetica: Arial, Helvetica, sans-serif;
$medium-font-size: 1rem;
$normal-font-size: 0.8rem;
$large-font-size: 1.5rem;

//alignments
$left-align: LEFT;
$center-align: CENTER;
$right-align: RIGHT;

$medium-font-weight: 400;

//sizes
$nav-width:35px;
$toolbar-width: 500px;
$main-toolbar-height:50px;
$insert-toolbar-height:30px;
$files-indicator-width:10px;

//z-indexes
$z-index-layer-0: 0;
$z-index-layer-1: 100;
$z-index-layer-2: 200;
$z-index-layer-3: 300;
$z-index-layer-4: 400;
