//colors
$white: #fff;
$lighter-gray: #ddd;
$light-gray: #aaa;
$gray: #888;
$black: #000;

//size
$total-width:94%;

//padding
$small-padding: .5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;

//stroke width
$thin-border-width: 1px;
$medium-border-width: 2px;

//margin
$small-margin: .5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;



//radius
$small-border-radius: 6px;
$medium-border-radius: 12px;
