@import 'variables';

.console__output-text{
  font-family: 'Inconsolata', monospace !important;
  margin: 0;
  padding: $small-padding;
}
.console__outputDiv {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
