{
  "extends": "airbnb-base",
  "rules": {
    "import/extensions": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "no-prototype-builtins": 0,
    "no-underscore-dangle": 0,
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "quote-props": [1, "consistent-as-needed"],
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true }],
    "no-param-reassign": [2, { "props": false }],
    "newline-per-chained-call": 0,
    "class-methods-use-this": 0,
    "no-return-assign": [2, "except-parens"],
    "operator-linebreak": [2, "after", { "overrides": { "?": "before", ":": "before" } }],
    "object-curly-newline": 0,
    "prefer-destructuring": 0
  },
  "plugins": [
    "import"
  ]
}
