@import "variables.scss";

.icon-button{
  $root: &;
  margin: 0;
  padding: 4px 0px; 
  border: none !important;
  background: none;
  background-origin: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: $roboto;
  color: $black;

  &--no-label{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background 300ms ease !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    &:hover{
      background: $g7 !important;
    }
  }
  
  &:disabled{
    opacity: 0.5;
    cursor: unset;
  }
  
  &:not(:disabled){
    &:focus, &:hover{
      background: none;
      outline: none;
      color: $primary-green;
      svg{
        path{
          fill: $primary-green;
        }
      }
    }
  }
  
  &__icon{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
      margin-right: 16px;
    }
    svg{
      path{
        fill: $black;
        transition: fill 300ms ease;
      }
      height: 16px;
      width: 14px;
    }
  }
  &__text{
    font-weight: $heavy-font-weight;
    font-size: $p-size;
    transition: color 300ms ease;
  }
}
