@import 'variables';

.dashboard {
  &__container {
    background: $g8;
    min-height: 100%;
  }
  &__profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: $medium-margin 0;
    overflow: hidden;
  }
  &__iframe {
    border: 0;
    width: 80%;
    height: 100%;
    padding: $large-padding 0;
    position: relative;
    top: -70px;
  }
}
