@import 'variables.scss';

.toggle-button{
  $root: &;
  border: none;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: $g4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  transition: background ease 300ms;
  
  &:not(:disabled){
    cursor: pointer;
    &:hover{
      background: $g3;
    }
  }

  &:disabled{
    opacity: 0.5;
  }

  &:focus{
    outline: none;
  }
  &__toggle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #f7f7f7;
    transition: transform ease 300ms;
    margin: 1px;
  }

  &--active{
    background-color: $b1;
    &:not(:disabled){
      &:hover{
        background-color: #00564c;
      }
    }

    #{$root}__toggle{
      transform: translateX(20px);
    }
  }
  
}