@import "variables.scss";

.input-field{
  display: flex;
  flex-direction: column;
  font-family: $roboto;
  position: relative;

  &__label{
    font-size: $p-size;
    margin-bottom: 8px;
  }

  &__text-box{
    $border-color : $g5;
    font-size: $p-size;
    height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    border: solid 1px $border-color;
    background-color: $g8;
    box-sizing: border-box;
    transition: border 300ms ease;

    &:enabled {
      &:hover, &:focus{
        border: solid 1px $b1;
      }
    }

    &:focus{
      outline: none;
    }

    &::placeholder{
      font-style: italic;
    }
  }

  &__error{
    position: absolute;
    top: calc(100% + 7px);
    left: 8px;
    color: $danger-red;
    font-size: 14px;
  }
}