@import 'variables';
@import 'mixins';
@import 'base';

.beta-tag {
  @extend %beta-tag;
}
.insert-toolbar {
  &__pref{
    transform: rotate(15deg);
    transition-duration: .5s;
    &--open{ // sass-lint:disable-line class-name-format
      transform: rotate(-15deg);
      transition-duration: .5s;
    }
  }
  &__container {
    display: flex;
    @include flex;
    flex-direction: row;
    width: 100%;
    padding: $small-padding;
    background-color: $lighter-gray;
    z-index: $z-index-layer-1;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }
  &__sub-menu {
    position: absolute;
    top: calc(#{$insert-toolbar-height*2} + #{$small-padding});
    left: $large-padding;
  }
  &__list-item{
    background-color: $g1;
    color:$white;
  }
  &__button{
    position: relative;
    color:$black;
    padding: 0 $medium-padding;
    background-color: $lighter-gray;
    border:none !important;
    text-transform: uppercase;
    // box-shadow: 3px 5px 5px $boxShaddow-gray;
    &:focus {
      outline:0;
    }
    &:hover{
      color:$blue;
      box-shadow: none;
      background-color: $lighter-gray;
    }
    &:hover #Shape {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.2s;
      fill:$blue;
    }
  }

  &__icon{
    display: block;
    width: 20px;
    margin: auto;
    margin-bottom: $small-margin/2;
  }
  &__list {
    list-style: none;
    background: $lighter-gray;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    padding: $small-padding;
  }
  &__list-button {
    background: none;
    border: none;
    color: $light-gray;
    &:hover {
      background: none;
      border: none;
      color: $b1;
    }
  }
}

#Shape{
  fill:$black;
  stroke:none;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
