@import 'variables';
@import 'base';
@import 'mixins';
@import 'modal';

.share {
  &__link {
    @extend %modal__link;
    color: $medium-gray;
  }

  &__button {
    @extend %modal__button;
    width:20%;
    float: right;
    margin-top: 0px;
  }

  &__container {
    margin-top: $medium-margin;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: $large-padding;
  }

  &__input {
    @extend %modal__input;
    text-align: center;
    border-radius: $small-border-radius;
    border: $g4 solid $small-border;
    width: 50%;
    color: $green;
    height: 40px;
  }

  &__input-email {
    width: 80%;
    @extend %modal__input;
  }

  &__modal {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__option__container {
    display: flex;
    justify-content: center;
    width: 40%;
  }

  &__container__info-container {
    display: none;
    background: $white;
    border-radius: $small-border-radius;
    padding: $small-padding;
    position: absolute;
    
    left: $medium-margin;
    top: 20px;
    z-index: $z-index-layer-4;
  }

  &__container__svg-info {
    display: inline-block;
    position: relative;
    margin: 17px;
    height: 25px !important;
    width: 25px !important;
    background-color: $b2 !important;
    border-radius: 12px !important;
    &:hover .share__container__info-containe {
      display: block;
    }
    &:focus .share__container__info-containe {
      display: block;
    }

    #infoSvg {
      height: 25px;
      width: 25px;
    }
  }

  &__option {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text-classroom {
      color: unset;
      font-weight: $medium-font-weight;
    }
  }

  &__link_type {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  &__text-primary {
    @extend %modal__title;
    margin-bottom: $medium-margin;
  }

  &__text-secondary {
    @extend %modal__text;
  }

}

#widget-div {
  margin: $small-margin auto !important;
}