@import 'variables';
@import 'base';
@import 'mixins';
@import 'modal';

.share {
  &__link {
    @extend %modal__link;
    color: $medium-gray;
  }

  &__button {
    @extend %modal__button;
    width:20%;
    float: right;
    margin-top: 0px;
  }

  &__container {
    margin-top: $medium-margin;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: $large-padding;
  }

  &__input {
    @extend %modal__input;
    text-align: center;
  }

  &__input-email {
    width: 80%;
    @extend %modal__input;
  }

  &__modal {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__option {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link_type {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  &__text-primary {
    @extend %modal__title;
    margin-bottom: $medium-margin;
  }

  &__text-secondary {
    @extend %modal__text;
  }

}

#widget-div {
  margin: $small-margin auto !important;
}
