@import 'variables';
@import 'mixins';

.insert-toolbar__container {
  display: flex;
  // position: fixed;
  @include flex;
  flex-direction: row;
  width: 100%;
  padding: $small-padding;
  height: $insert-toolbar-height;
  background-color: $lighter-gray;
  z-index: $z-index-layer-1;

}
.insert-toolbar__button{
  color:$black;
  // @extend %menu-item;
  // margin: 0 $small-margin;
  padding: 0 $medium-padding;
  background-color: $lighter-gray;
  border:none !important;
  text-transform: uppercase;
  // box-shadow: 3px 5px 5px $boxShaddow-gray;
  &:hover{
    color:$blue;
    box-shadow: none;
    background-color: $lighter-gray;
  }
}

.insert-toolbar__icon{
  display: block;
  width: 20px;
  margin: auto;
  margin-bottom: $small-margin/2;
}

#Shape{
  fill:$black;
  stroke:none;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.insert-toolbar__button:hover #Shape {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  fill:$blue;

}
