@import 'variables';
@import 'mixins';

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-layer-3;
}

.main-toolbar__container{
  width: 100%;
}

.main-toolbar{
  background-color: $black;
  height: $main-toolbar-height;
}

.logo_toolbar{
  // margin: $medium-margin $small-margin;
  padding: 12 20 10 20;
}

.main-toolbar__title{
  height: 35px;
  margin: 8 0 8 0;
  padding: 4 15;
  background-color: #FFFFFF21;
  border: none;
  border-radius: 5px;
  color: #F1F1F1;
  font-size: 14px;
  width: 20%;
  float: left;
 }

.main-toolbar__save {
  @extend %mainToolbar__button
}

.main-toolbar__account-button{
  margin: $mini-padding $medium-margin 0 $medium-margin;
  padding: $small-padding $medium-padding;
  border: none;
  background: $black;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  &:hover {
    cursor: pointer;
    background: $black;
    border: none;
  }
}

.main-toolbar__account-button-clicked{
  border: none;
  background: $white;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  &:hover {
    cursor: pointer;
    background: $white;
    border: none;
  }
}

.account-man {
  & path, & circle {
    fill: $white;
  }
  &:hover path, &:hover circle {
    fill: $blue;
  }
}

.account-man__clicked {
  & path, & circle {
    fill: $blue;
    margin-left: $micro-margin;
  }
  &:hover path, &:hover circle{
    fill: $black;
    margin-left: $micro-margin;
  }
}

.main-toolbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  list-style-type: none;
  padding-left: $micro-padding*2;
  margin: 0;
}

.main-toolbar__list-item {
  padding: 0 $small-padding $medium-padding 0;
}

.main-toolbar__welcome {
  color: $gray;
  margin-top: $small-margin;
  margin-bottom: 0;
  padding-left: $small-padding;
  font-size: $small-font-size;
  font-weight: $medium-font-weight;
}

.main-toolbar__account{
  display: flex;
  top: 1px;
  right: $large-margin;
  flex-direction: column;
  background-color: $white;
  border: 2px solid;
  border-color: $white;
  position: absolute;
  border-radius: $medium-border-radius;
  z-index: $z-index-layer-2;
  box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
  -moz-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
  -webkit-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
}

.main-toolbar__preview {
  color: $white;
  margin: $medium-margin $small-margin;
  padding: 0 $small-padding;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12px;
  top: 5px;
}

.main-toolbar__slider {
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $blue;
  border-radius: $large-border-radius;
  width: $large-border-radius*2;
  height: $large-border-radius;
}

.main-toolbar__slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 20px;
  top: 1px;
  border-radius: $large-border-radius;
  background-color: $white;

}

input:checked + .main-toolbar__slider {
  background-color: $hover-gray;
}

input:checked + .main-toolbar__slider:before {
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  transform: translateX(-18px);
}

.main-toolbar__file{
  @extend %mainToolbar__button;
  position: relative;
}

.main-toolbar__button{
  @extend %mainToolbar__button;
}

.main-toolbar__new{
  @extend %mainToolbar__button;
}

.main-toolbar__open{
  @extend %mainToolbar__button;

}
.main-toolbar__div-left{
  @include flex;
  float: left;
}

.upper-toolbar__dropdown{
  border: none;
  text-align: $left-align;
  border-radius: 0;
  width: 80;
  margin: $medium-margin $small-margin 0 $xlarge-margin/2;
  padding-left: $small-padding*3/2;
  color: $white;
  font-style: normal;
  font-size: 14;
  &:hover {
    cursor: pointer;
    color: $gray;
    background: $black;
    border: none;
  }
}

.upper-toolbar__dropdown-open{
  border: none;
  text-align: $left-align;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: $medium-margin $small-margin 0 $xlarge-margin/2;
  padding-left: $small-padding*3/2;
  width: 80;
  background: $white;
  color: $dark-gray;
  font-style: normal;
  font-size: 14;
  &:hover {
    cursor: pointer;
    color: $gray;
    background: $white;
    border: none;
  }
}


.main-toolbar__div-right{
  @include flex;
  float: right;
}

.main-toolbar__div-right-inside{
  @include flex;
  padding-right: 10px;
}

input[type="checkbox"] {
  display:none;
}
label {
  cursor: pointer;
}
.main-toolbar__preview-on{
  display: none;
}

input[type="checkbox"]:checked ~ .main-toolbar__preview-on {
  display:  inline-block;
}

input[type="checkbox"]:checked ~ .main-toolbar__preview-off {
  display: none;
}

input[type="checkbox"] ~ .main-toolbar__preview-off {
  display: inline-block;
}

.main-toolbar__preview-title {
  display: inline-block;
  vertical-align: middle;
  padding:$main-toolbar-padding;
  color: $white;
  font-size: 14px;
  font-weight: normal;

}


@media screen and (max-width: 1025px) {

  .main-toolbar__div-right{
    width:100%;
    margin: none;
    background-color: $black;
  }

  .main-toolbar__preview-title{
    display: none;
  }

  .main-toolbar__div-right-inside{
    @include flex;
    margin-left: 1rem;
  }
}

.main-toolbar__spacer{
  height: 18px;
  width: 1px;
  background-color: #A2AEB5;
  margin: $medium-margin 0;
}

%mainToolbar__button{
  margin: 0 $small-margin;
  padding: $main-toolbar-padding;
  float: right;
  font-size: 14px;
  font-weight: normal;
  border: none;
  // border-radius: $small-border-radius;
  color: $white;
  // background-color: none;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  &:hover {
    border: none;
    color: $light-gray;
    background: none;
    cursor: pointer;
  }
}
