@import 'variables';
@import 'mixins';
@import 'base';

.main-nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $z-index-layer-3;
}

.main-toolbar__container{
  width: 100%;
}
.main-toolbar__pencil-container{
  display: inline-block;
}

.main-toolbar{
  background-color: $black;
  height: $main-toolbar-height;
  &__search-icon {
    font-size: 20px;
    line-height: $title-width;
    color: $white;
    height: $title-width;
    margin: $small-margin 0;
    padding: 0 $small-padding;
    background: $light-black;
    border-radius: $small-border-radius;
    position: relative;
    left: -$small-border-radius;
  }
  &__pref{
    transform: rotate(15deg);
    transition-duration: .5s;
    &--open{ // sass-lint:disable-line class-name-format
      transform: rotate(-15deg);
      transition-duration: .5s;
    }
  }
  &__pref-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}

.logo_toolbar{
  // margin: $medium-margin $small-margin;
  padding: 12 20 10 20;
}

.main-toolbar__title{
  height: $title-width;
  margin: 8 0 8 0;
  padding: 4 15;
  background-color: $light-black;
  border: none;
  border-radius: $small-border-radius;
  color: $white;
  font-size: 14px;
  width: 20%;
  float: left;
 }

.main-toolbar__save {
  @extend %mainToolbar__button
}

.main-toolbar__preview {
  color: $white;
  margin: $medium-margin $small-margin;
  padding: 0 $small-padding;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12px;
  top: 5px;
}

.main-toolbar__slider {
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $blue;
  border-radius: $large-border-radius;
  width: $large-border-radius*2;
  height: $large-border-radius;
}

.main-toolbar__slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 20px;
  top: 1px;
  border-radius: $large-border-radius;
  background-color: $white;

}

input:checked + .main-toolbar__slider {
  background-color: $hover-gray;
}

input:checked + .main-toolbar__slider:before {
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  transform: translateX(-18px);
}

.main-toolbar__file{
  @extend %mainToolbar__button;
  position: relative;
}

.main-toolbar__button{
  @extend %mainToolbar__button;
  padding: 0 !important;
}

.main-toolbar__new{
  @extend %mainToolbar__button;
}

.main-toolbar__open{
  @extend %mainToolbar__button;

}
.main-toolbar__div-left{
  @include flex;
  float: left;
}

.upper-toolbar__dropdown{
  border: none;
  text-align: center;
  border-radius: 0;
  width: 80;
  color: $white;
  font-style: normal;
  font-size: 14;
  &:hover {
    cursor: pointer;
    color: $gray;
    background: $black;
    border: none;
  }
}

.upper-toolbar__dropdown-open{
  color: $green;
}


.main-toolbar__div-right{
  @include flex;
  float: right;
}

.main-toolbar__div-right-inside{
  @include flex;
  padding-right: 10px;
}

input[type="checkbox"] {
  display:none;
}
label {
  cursor: pointer;
}
.main-toolbar__preview-on{
  display: none;
}

input[type="checkbox"]:checked ~ .main-toolbar__preview-on {
  display:  inline-block;
}

input[type="checkbox"]:checked ~ .main-toolbar__preview-off {
  display: none;
}

input[type="checkbox"] ~ .main-toolbar__preview-off {
  display: inline-block;
}

.main-toolbar__preview-title {
  display: inline-block;
  vertical-align: middle;
  padding:$main-toolbar-padding;
  color: $white;
  font-size: 14px;
  font-weight: normal;

}

.main-toolbar__spacer{
  @extend %vertical-spacer;
}
