@import 'variables';
@import 'mixins';

.file-modal__container {
  position: relative;
  display: flex;
  justify-content: center;
}

.file-modal__list {
  position: absolute;
  background: fixed;
  top: $main-toolbar-height;
  background: $black;
  padding: $small-padding;
  color: $white;
  border-radius: $small-border-radius;
  border: $small-border solid $white;
  z-index: $z-index-layer-4;
  &::after {
    content: '';
    position: absolute;
    width: $arrow-size;
    height: $arrow-size;
    background: $black;
    top: 0;
    right: calc(50% - #{$arrow-size/2});
    transform: translate(0, -50%) rotate(45deg);
    border-left: $small-border solid $white;
    border-top: $small-border solid $white;
  }
}

.file-modal__list ol{
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;
}
.file-modal__list ol li{
  padding: 1.5rem;
  color: $gray;
}

.file-modal__list ol li:nth-child(odd){
  background: $lighter-gray;
}

.file-modal__list ol li a{
  color: $gray;
}

.file-modal__item {
  width: 100%;
  text-align: left;
  list-style: none;
  padding: $small-padding $large-padding $small-padding/1.5 $micro-padding;
}

.file-modal__link {
  text-decoration: none;
  padding-left: $small-margin;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  display: inline-block;
  background-color: $transparent;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100%;
  text-align: left;
  border: none;
  &:hover {
    color: $light-gray;
    cursor: pointer;
    border: none;
    background-color: $transparent;
  }
}
