@import 'variables';
@import 'mixins';
@import 'base';


.editor__dark {
  .open-files {
    &__files {
      background: $black;
    }
    &__file {
      background: $dark-gray;
      color: $g7;
      border-bottom: $small-border solid $g7;
      border-right: $small-border solid $g7;
      &--selected {
        background: $g2;
      }
    }
    &__toggle-button {
      background: $dark-gray;
      color: $g7;
      &:hover {
        background: $dark-gray;
        color: $g5;
      }
    }
    &__close-button {
      color: $g7;
    }
    &__file-button {
      color: $g7;
    }
    &__add-file-button {
      color: $g2;
    }
  }
}

.open-files {
  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: sticky;
  }
  &__files {
    width: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  &__file {
    display: flex;
    flex-direction: row;
    padding: $small-padding 0;
    border-bottom: $small-border solid $g5;
    border-right: $small-border solid $g5;
    &--selected {
      background: $g7;
    }
  }
  &__file-button, &__toggle-button {
    background: none;
    color: $g4;
    border: 0;
    &:hover {
      background: none;
      color: $g4;
      border: 0;
    }
  }
  &__toggle-button {
    border-radius: 0;
    border-bottom: $small-border solid $g5;
    border-right: $small-border solid $g5;
    &:hover {
      border-bottom: $small-border solid $g5;
      border-right: $small-border solid $g5;
    }
  }

  &__close-button {
    background: none;
    border: 0;
    &:hover {
      background: none;
      border: 0;
      & #ShapeCNTRL {
        fill: $g2;
      }
    }
    & #ShapeCNTRL {
      fill: $g4;
    }
  }
}
