@import 'variables';
@import 'mixins';

.file-modal__container {
  position: relative;
}

.file-modal__list {
  position: absolute;
  background: $white;
  top: 25px;
  left: 12px;
  margin: $medium-padding/2;
  padding: 0;
  color: $black;
  border-radius: $small-border-radius;
  border-top-left-radius: 0;
  border: 2px solid $white;
  z-index: $z-index-layer-4;
}

.file-modal__list ol{
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;
}
.file-modal__list ol li{
  padding: 1.5rem;
  color: $gray;
}

.file-modal__list ol li:nth-child(odd){
  background: $lighter-gray;
}

.file-modal__list ol li a{
  color: $gray;
}

.file-modal__item {
  list-style: none;
  padding: $medium-padding/1.5 $xlarge-padding $medium-padding/1.5 $micro-padding;
}

.file-modal__link {
  text-decoration: none;
  margin: $small-margin;
  font-size: 14px;
  font-weight: 400;
  color: $dark-gray;
  background-color: $white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100%;
  &:hover {
    color: $black;
    cursor: pointer;
  }
}
