.pricing-card {
  position: relative;
  box-sizing: border-box;
  height: 564px;
  width: 367px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: visible;

  &__active-text{
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &__backdrop{
    position: absolute;
    top: -24px;
    left: -24px;
    width: calc(100% + 48px);
    height: calc(100% + 24px + 24px);
    background-color: rgba(0, 21, 30, 0.1);
    z-index: 0;
    opacity: 0;
    transition: opacity 300ms ease;
  }

  &__contents{
    position: relative;
    z-index: 1;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &--active{
    .pricing-card__backdrop{
      opacity: 1;
      top: -58px;
      height: calc(100% + 58px + 24px);  
    }
  }

  &__plan{
    height: 209px;
    background: #00151e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 28px;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;

    &__name{
      margin: 0;
      font-weight: 500;
      font-size: 22px;
      line-height: normal;
      box-sizing: border-box;
    }
    
    &__price{
      font-weight: 500;
      font-size: 40px;
      margin-top: 12px;
      line-height: normal;
      box-sizing: border-box;
    }

    &__details{
      font-weight: 500;
      text-align: center;
      margin-top: 12px;
      line-height: normal;
      font-size: 14px;
      box-sizing: border-box;
    }
  }

  &__body{
    padding: 35px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
  }

  &__button-area{
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    button{
      padding: 12px 42px;
      background: #000;
      border-radius: 5px;
      border: none;
      color: white;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      cursor: pointer;
      position: relative;
      box-sizing: border-box;

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #fff, $alpha: 0);
        transition: background 300ms ease;
      }

      &:hover, &:focus{
        outline: none;

        &::before{
          background: rgba($color: #fff, $alpha: 0.2);
        }
      }
    }
  }
}