@import 'variables.scss';

.class-view-student{
  &__body{
    background: #f7f7f7;
    position: fixed;
    top: $topnav-height;
    left: 0; 
    height: calc(100vh - #{$topnav-height});
    width: 100vw;
    overflow: auto;
    box-sizing: border-box;

    &__container{
      min-height: calc(100vh - #{$topnav-height});
      display: flex;
      box-sizing: border-box;

      &__assignments-area{
        align-items: center;
        flex: 1;
        min-width: 910px;
        min-height: 100%;
        overflow: auto;
        box-sizing: border-box;
        padding: 45px 89px;
        display: flex;
        flex-direction: column;

        &__no-assignments{
          width: 100%;
          height: 400px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $g4;
          font-weight: 500;
          font-size: 24px;
          text-align: center;
          line-height: 40px;
        }

        &__topic-name{
          font-family: $roboto;
          color: $black;
          font-size: 21px;
          font-weight: 700;
          width: 818px;
          padding-top: 40px;
          margin-bottom: 40px;
        }
      }
    }
  }
  &__header-area{
    width: 100%;
    height: 140px;
    display: flex;
    background: $black;
    border-top: 1px solid black;
    padding: 0 100px;
    padding-right: 145px;
    box-sizing: border-box;

    &__bread-crumbs{
      color: white;
      font-size: 20px;
      font-style: $roboto;  
      display: flex;
      align-items: center;
      box-sizing: border-box;
      
      a{
        color: white;
        text-decoration: none;
      }

      svg{
        path{
          fill: white;
        }
      }

      &__dropdown{
        background: none;
        position: relative;
        $root : &;

        svg{
          position: absolute;
          top: 0%;
          right: 10px;
          transition: transform 300ms ease;
          
          &.triggered{
            transform: rotate(-180deg);
          }
        }

        &__trigger{
          padding: 0;
          margin: 0;
          padding-right: 40px;
          background: none;
          border: none;
          color: white;
          font-size: 20px;
          font-style: $roboto;
          align-items: center;
          box-sizing: border-box;
          &:focus{
            outline: none;
          }
        }
        &__options{
          font-family: $roboto;
          font-size: $p-size;
          list-style: none;
          position: absolute;
          overflow-x: visible;
          top: calc(100% + 4px);
          left: 0;
          width: 100%;
          max-width: 100%;
          border-radius: 3px;
          z-index: 500;
          border: solid 1px $g5;
          background-color: #fff;  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          transform: scaleY(0);
          transform-origin: top;
          transition: transform 300ms ease;
      
          &--active{
            transform: scaleY(1);
          }
          
          #{$root}__option-container{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            transition: background 300ms ease;
            &:not(:last-child){
              border-bottom: 1px solid $g5;
            }
      
            &:hover, &:focus-within {
              background: $g7;
            }
      
            #{$root}__tooltip{
              opacity: 0;
              position: absolute;
              top: 90%;
              left: 15%;
              background: #333;
              color: white;
              font-family: $roboto;
              font-size: 12px;
              border-radius: 3px;
              animation: fade-in 300ms ease 500ms 1 forwards;
              box-sizing: border-box;
              display: flex;
              justify-content: flex-start;
              flex: 1;
              padding: 4px 10px;
              z-index: 5000;
              pointer-events: none;
                  
              &::before{
                content: '';
                top: -4px;
                left: 8px;
                transform: rotate(45deg);
                position: absolute;
                height: 8px;
                width: 8px;
                background: #333;
                box-shadow: 3px 3px 20px rgba($color: #000000, $alpha: 0.1);
              }
              animation: none;
              opacity: 0;
              transition: opacity 300ms ease;
              top: 125%;
              word-wrap: none;
              transform: translateY(-50%);
              pointer-events: none !important;
            }
            
            &:hover #{$root}__tooltip, &:focus-within #{$root}__tooltip{
              opacity: 1;
              pointer-events: all;
              transition-delay: 500ms;
            }
      
            #{$root}__option{
              color: black;
              text-align: left;
              min-height: 40px;
              margin: 0;
              box-sizing: border-box;
              margin: 0;
              padding: 16px 16px;
              overflow-x: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              background: none;
              border: none;
              z-index: 0;
              cursor: pointer;
              font-family: $roboto;
              font-size: $p-size;
              &:focus{
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}