@import 'variables.scss';

.class-view__people{
  font-family: $roboto;
  padding-right: 96px;

  &__section{
    &__section-header{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      margin-top: 5px;
      padding: 0  12px 0px 12px;
      display: flex;
      border-bottom: 1.5px solid $g5;
  
      &__header{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 24px;
        font-weight: normal;
        margin-right: auto;
      }
    }
    &__student-details{
      display: flex;
      padding: 16px;
      &__students{
        min-width: 300px;
        margin-right: 24px;
        &__header{
          padding: 16px 10px;
          color: $black;
          font-weight: 500;
          border-bottom: solid 1px $g5;
        }
        &__student{
          width:100%;
          text-align: left;
          border: none;
          font-size: $p-size;
          background: none;
          padding: 16px 10px;
          color: $black;
          border-bottom: solid 1px $g5;
          font-family: $roboto;
          transition: background 300ms ease;

          &:focus{
            outline: none;
          }

          &:hover{
            background: #eceded;
          }

          &.selected{
            background: #eceded;
            font-weight: 500;
          }
        }
      }
      &__assignments{
        flex: 1;
        min-width: 600px;

        &__header{
          display: grid;
          padding: 12px 10px;
          padding-left: 24px;
          grid-template-columns: 30% 16% 16% 16% 16% 6%;
          font-size: 12px;
          font-weight: 700;
          color: $g3;
          div{
            text-transform: uppercase;
          }
        }

        &__no-header{
          font-family: $roboto;
          text-align: center;
          color: $g3;
          font-style: italic;
        }
      }
    }
  }

}