@import "variables.scss";

.lesson-list-card{
  box-sizing: border-box;
  font-family: $roboto;
  font-size: $p-size;
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: 1.1px 1.1px 4.4px 0 rgba(183, 183, 183, 0.5);
  background-color: #ffffff;
  border-radius: 3px;

  &__color{
    width: 9px;
    height: 100%;
    margin-right: 16px;
    border-radius: 3px 0 0 3px;

    &.yellow{
      background: #fad743;
    }

    &.light-gray{
      background: $g4;
    }

    &.dark-gray{
      background: $g2
    }
  }
}