@import 'variables';
@import 'mixins';

.trash {

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__table {
    width: 100%;
    border-spacing: 0 $small-border-radius;
    padding: $large-padding 0;
  }

}
