@import 'variables';
@import 'mixins';
@import 'modal';

.resize-container{
  min-height: auto !important;
  border: none;
  padding: $small-padding;

  &:hover {
    z-index: $z-index-layer-4 !important;
    border: 2px dashed $light-gray;
    border-radius: $small-border-radius;
  }
}

.canvas-preview-mode{
  & .resize-container {
    border: none;
  }
  & .react-resizable-handle {
    display: none;
  }
}

.canvas{
  background-color: $whitish;
  width: $total-width;
  min-height:80vh;
  padding: $large-padding;
  margin: 0 auto;
  margin-top: 80px;
}

.canvas-edit-mode {
  margin-top: 100px;
  & .react-resizable-handle {
    display: block;
  }
}

.canvas-high {
  z-index: $z-index-layer-2;
}

.react-grid-item {
  padding: 0 0.5rem 0.5rem 0;
}

.resize-container {
  border: $small-border solid $black;
  border-radius: $medium-border-radius;
  margin: $large-margin;
  padding: $small-padding/2;
}

@media screen and (max-width: 1025px) {
  .canvas{
    margin-top: 150px;
  }

  .canvas-edit-mode {
    margin-top: 210px;
  }
}

.widget-nav__container {
  display: none;
  &_highlighted {
    display: block;
  }
}
.widget__container:hover .widget-nav__container {
  display: block;
}
