@import 'variables';
@import 'mixins';
@import 'modal';

.signup-modal {
  &__checkbox {
    display: inline-block !important;
  }
  &__content{
    @extend %modal__content;
    height: 450px;
  }

  &__div{
    display: block;
    text-align: left;
  }

  &__dropdown {
    min-width: 125px;
    width: 100%;
    max-width: 300px;
    font-size: $p-size;
    line-height: $p-line-height;
    border: $g4 $small-border solid;
    color: $black;
    background: transparent;
    height: calc( #{2*$small-padding} + #{$p-line-height});
    margin: $small-margin;
    display: flex;
    border-radius: $small-border-radius;
  }

  &__title{
    @extend %modal__title;
  }

  &__subtitle {
    @extend %modal__subtitle;
    margin-bottom: $large-margin;
  }

  &__link{
    text-decoration: none;
    color: $green;
  }

  &__terms-label {
    font-size: $p-size;
    line-height: $p-line-height;
  }

  &__label {
    @extend %modal__label;
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: $black;
    width: 100%;
  }

  &__check {
    display: none;
    &--selected {
      display: block;
    }
  }

  &__input{
    @extend %modal__input;
  }

  &__birthday{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $medium-margin;
    flex-direction: column;
    align-items: center;
  }
  &__username {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $medium-margin;
    flex-direction: column;
    align-items: center;
  }

  &__input-text{
    color: $green;
    margin: $small-margin 0;
    line-height: $p-line-height;
    font-size: $p-size;
    margin: 0 $small-margin;
  }

  &__button{
    @extend %modal__button;
  }

  &__peblio-button {
    @extend %modal__button;
    width: 191px;
  }

  &__buttonholder {
    @extend %modal__buttonholder;
    width: 100%;
    margin-top: 0px;
  }

  &__radio-holder {
    width: 100%;
  }

  &__radio {
    display: none;
  }

  &__list {
    justify-content: $center-align;
    padding: $small-padding;
    list-style-type: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__listitem {
    background: $g7;
    padding: $small-padding;
    margin: $small-margin;
    display: flex;
    border-radius: $small-border-radius;
    box-shadow: 0px $shadow-v-offset $shadow-blur $g6;
    min-width: 125px;
    width: 100%;
    max-width: 300px;
    &--selected {
      background: $b4;
    }
  }

  &__screen-no {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    width: fit-content;
    margin: $large-margin auto;
  }

  &__screen-no-item {
    border-radius: 50%;
    border: dashed $black $small-border;
    height: $button-size;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    &--selected {
      border-radius: 50%;
      border: solid $black $small-border;
      height: $button-size;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
      background-color: $black;
      color: $white;
    }
  }

  &__screen-line {
    display: flex;
    border: solid $black $small-border/2;
    width: 30px;
    height: 0;
    justify-content: center;
    align-items: center;
    margin: auto $medium-margin;
    &--hide {
      display: none;
    }
  }
  &__screen-no-container {
    display: flex;
    flex-direction: row;
  }

  &__or-container {
    display: flex;
    flex-direction: row;
  }

  &__or {
    color: $g4;
  }

  &__or-line {
    display: flex;
    border: solid $g5 $small-border/2;
    width: -webkit-fill-available;
    height: 0;
    justify-content: center;
    align-items: center;
    margin: auto $medium-margin;
  }

  &__notice {
    @extend %modal__notice;
  }

  &__text-secondary {
    @extend %modal__text;
  }
}
