@import 'variables';
@import 'mixins';
@import 'modal';

.signup-modal {
  &__checkbox {
    display: inline-block !important;
  }
  &__content{
    @extend %modal__content;
  }

  &__div{
    display: block;
    text-align: left;
  }

  &__dropdown {
    height: $large-height;
    border-radius: $small-border-radius/2;
    border: none;
    width: -webkit-fill-available;
    font-size: $p-size*0.75;
    margin: 0 $small-margin/2;
    border: $g4 $small-border solid;
    color: $g4;
  }

  &__title{
    @extend %modal__title;
  }

  &__subtitle {
    @extend %modal__subtitle;
  }

  &__link{
    text-decoration: none;
    color: $green;
  }

  &__terms-label {
    font-size: $p-size;
    line-height: $p-line-height;
  }

  &__label {
    @extend %modal__label;
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: $black;
    width: 100%;
  }

  &__check {
    display: none;
    &--selected {
      display: block;
    }
  }

  &__input{
    @extend %modal__input;
  }

  &__birthday{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $medium-margin;
  }

  &__input-text{
    color: $green;
    margin: $small-margin 0;
    line-height: $p-line-height;
    font-size: $p-size;
    margin: 0 $small-margin;
  }

  &__button{
    @extend %modal__button;
  }

  &__buttonholder {
    @extend %modal__buttonholder;
    width: 100%;
    margin-top: 0px;
  }

  &__radio-holder {
    width: 100%;
  }

  &__radio {
    display: none;
  }

  &__list {
    justify-content: $center-align;
    padding: $small-padding;
    list-style-type: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__listitem {
    background: $g7;
    padding: $small-padding;
    margin: $small-margin;
    display: flex;
    border-radius: $small-border-radius;
    box-shadow: 0px $shadow-v-offset $shadow-blur $g6;
    min-width: 125px;
    width: 100%;
    max-width: 300px;
    &--selected {
      background: $b4;
    }
  }

  &__notice {
    @extend %modal__notice;
  }

  &__text-secondary {
    @extend %modal__text;
  }
}
