@import 'variables';
@import 'mixins';

.insert-toolbar {
  &__container {
    display: flex;
    // position: fixed;
    @include flex;
    flex-direction: row;
    width: 100%;
    padding: $small-padding;
    height: $insert-toolbar-height;
    background-color: $lighter-gray;
    z-index: $z-index-layer-1;
  }
  &__sub-menu {
    position: absolute;
  }
  &__button{
    position: relative;
    width: 7%;
    color:$black;
    padding: 0 $medium-padding;
    background-color: $lighter-gray;
    border:none !important;
    text-transform: uppercase;
    // box-shadow: 3px 5px 5px $boxShaddow-gray;
    &:focus {
      outline:0;
    }
    &:hover{
      color:$blue;
      box-shadow: none;
      background-color: $lighter-gray;
    }
    &:hover #Shape {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.2s;
      fill:$blue;
    }
  }

  &__forked-from {
    font-size: $medium-font-size;
    font-weight: $heavy-font-weight;
    float: right;
    position: absolute;
    top: $xlarge-margin + $small-margin;
    right: $medium-margin;
  }

  &__link {
    font-size: $medium-font-size;
    font-weight: $heavy-font-weight;
    color: $blue;
  }

  &__icon{
    display: block;
    width: 20px;
    margin: auto;
    margin-bottom: $small-margin/2;
  }
  &__list {
    list-style: none;
    background: $lighter-gray;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    padding: $small-padding;
  }
  &__list-button {
    background: none;
    border: none;
    color: $light-gray;
    &:hover {
      background: none;
      border: none;
      color: $dark-gray;
    }
  }
}

#Shape{
  fill:$black;
  stroke:none;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
