@import 'variables';

.collection {
  &__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: -$small-border-radius*1.5;
    background: $black;
    opacity: 0.8;
    width: calc(100% + #{$small-border-radius*1.5});
    height: 100%;
    box-sizing: border-box;
    padding: 0 $medium-padding;
    text-decoration: none;
    &-desc {
      font-size: $small-font;
      color: $white;
      line-height: $small-line-height;
      text-align: left;
      font-weight: 600;
      height: 80%;
      overflow: hidden;
    }
    &-author {
      font-size: $small-font;
      text-align: left;
      font-weight: 600;
      color: $grey;
    }
  }
  &__container {
    position: relative;
    background: $white;
    width: $pebl-collection-size-width;
    height: $pebl-collection-size-height;
    border-radius: $small-border-radius;
    -webkit-box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.3);
    border-left: $blue $small-border-radius*1.5 solid;
    &:hover .collection__overlay{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__title {
    color: $black;
    font-size: $medium-font;
    height: 200px;
    line-height: $medium-line-height;
    padding: 0 $small-padding;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__no-files {
    text-transform: uppercase;
    font-size: $small-font;
    line-height: $small-line-height;
    padding: $small-padding/2 $small-padding;
    color: $grey;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: $small-border-radius;
    border-bottom-right-radius: $small-border-radius;
  }
}
