@import 'variables';
@import 'mixins';

.details {
  &__content {
    width: 25%;
    height: 100%;
    float: left;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $profile-gray;
    text-align: center;
  }

  &__text-primary {
    margin: $medium-margin;
    color: $white;
    font-size: $large-font-size;
  }

  &__text-secondary {
    background-color: $profile-gray;
    color: $white;
    font-size: $small-font-size;
    padding: $medium-padding;
    margin-top: $xlarge-margin;
    width: 100%;
    border: none;
    resize: none;
    text-align: center;
  }

  &__title {
    margin: auto;
  }

  &__image-container {
    display: relative;
    width: 250px;
    max-width: 90%;
    margin: 0 auto;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    cursor: pointer;
    &:hover {
      & + .details__image-upload
      {
        display: flex;
      }
    }
  }

  &__image-upload {
    max-width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      display: flex;
    }

  }
  &__welcome {
    font-size: $small-font-size;
    text-align: center;
  }
  &__link {
    height: fit-content;
    top: 0;
    left:0;
    width: fit-content;
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: $medium-margin $small-margin;
  }
}
