.button{
  padding: 10px 16px;
  border: none;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 16px;
  cursor: pointer;

  &.secondary{
    background: none;
    border: solid 1px #ccd0d2;
    &:disabled{
      background: #e4e4e4;
      border: solid 1px #e4e4e4;
      color: darken($color: #e4e4e4, $amount: 15%);
    }
  }

  &.primary{
    background: #008575;
    color: #fff;

    &:disabled{
      opacity: 0.5;
      cursor: unset;
    }
  }
}