@import "variables.scss";

.button{
  padding: 10px 16px;
  border: none;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 16px;
  transition: background 300ms ease, border 300ms ease;

  &:not(:disabled){
    cursor: pointer;
  }

  &.secondary{
    border: solid $small-border #ccd0d2;
    background-color: #ffffff;
    color: black;

    &:hover{
      border: solid $small-border #008575;
    }
  
    &:disabled{
      opacity: 0.5;
      border: solid 1px #e4e4e4;
    }
  }

  &.primary{
    background: #008575;
    border: solid $small-border #008575;
    color: #fff;

    &:not(:disabled):hover{
      background: #00564c;
    }

    &:disabled{
      opacity: 0.5;
      cursor: unset;
    }
  }
}