@import 'variables';
@import 'mixins';

.text-editor__container {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: none;
  padding: 0 $small-border/2;
  min-height: 100%;
  box-sizing: border-box;

  &_edit:hover { // sass-lint:disable-line class-name-format
    border: $gray dashed $small-border;
  }
  &_highlight {
    border: $gray dashed $small-border;
  }
}

.text-editor__toolbar {
  position: absolute;
  top: 100%;
  z-index: $z-index-layer-2;
  width: $toolbar-width;
  border-color: $light-gray;
  border-radius: $small-border-radius;
  margin-left: -10px;
}

.rdw-image-modal-btn{
  color:black;
}

.rdw-embedded-modal-btn{
  color:black;
}

.DraftEditor-editorContainer { // sass-lint:disable-line class-name-format
  font-size: $p-size;
  font-family: $sourceSansPro;
  line-height: $p-line-height;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $p-color;

  & h1{
    font-size: $h1-size;
    line-height: $h1-line-height;
    font-weight: 700;
    color: $h1-color;
    margin: 0;
    border-bottom: $g5 solid $small-border;
  }

  & h2{
    font-size: $h2-size;
    line-height: $h2-line-height;
    font-weight: 600;
    color: $h2-color;
    margin: 0;
  }
}

.public-DraftStyleDefault-block { // sass-lint:disable-line class-name-format
  margin: .1em .1em;
}

.text-editor__content {
  height: unset;

  .public-DraftEditor-content { // sass-lint:disable-line class-name-format
    overflow-y: auto;
  }
}

.rdw-right-aligned-block .public-DraftStyleDefault-ltr {
  text-align: right;
}

.rdw-center-aligned-block .public-DraftStyleDefault-ltr {
  text-align: center;
}

.rdw-justify-aligned-block .public-DraftStyleDefault-ltr {
  text-align: justify;
}
