@import 'variables';
@import 'mixins';



.editor__dark{
  .editor-toolbar{
    &__container {
    background-color: $light-gray;
    background: $dark-gray; /* For browsers that do not support gradients */
    .editor-toolbar__button-container {
      background-color: $g1;
      border:1px solid $g1;
      box-sizing: border-box;
      .editor-toolbar__title {
        color: $white;
        background-color: $g4;
      }
      .editor-toolbar__svg{
        background-color: $g2;
        &:hover {
          background-color: $g5;
        }
      }
      .editor-toolbar__svg:hover, &--selected #playPause {
        fill:$g2;
        stroke:none;
      }
      #playPause{
        fill:$g5;
      }
    }

    .editor-toolbar__files {
      background-color: $g2;
      .editor-toolbar__file {
        &-button {
          background-color: $g4;
          color: $white;
          border:1px solid $g2;
          box-sizing: border-box;
          &:hover, &--selected { // sass-lint:disable-line class-name-format
            background-color: $g2;
            color: $white;
          }
        }
      }

    }
  }
  }
}

.editor__light{
  .editor-toolbar{
    &__container {
    background-color: $light-gray;
    background: $dark-gray; /* For browsers that do not support gradients */
    .editor-toolbar__button-container {
      background-color: $white;
      border:1px solid $g5;
      box-sizing: border-box;
      .editor-toolbar__title {
        color: $g1;
        background-color: $g6;
      }
      .editor-toolbar__svg{
        background-color: $b2;
        &:hover {
          background-color: $g6;
        }
      }
      .editor-toolbar__svg:hover, &--selected #playPause {
        fill:$b2;
        stroke:none;
      }
      #playPause{
        fill:$g6;
      }
    }

    .editor-toolbar__files {
      background-color: $g5;
      .editor-toolbar__file {
        &-button {
          background-color: $g8;
          color: $g3;
          border:1px solid $g5;
          box-sizing: border-box;
          &:hover, &--selected { // sass-lint:disable-line class-name-format
            background-color: $g4;
            color: $g8;
          }
        }
      }

    }
  }
  }
}


.editor-toolbar{
  &__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:10%;
  min-height: 60px;
  z-index: $z-index-layer-2;

  .editor-toolbar__button-container {
    height:40px;
    padding: 3px;
    .editor-toolbar__title {
      display: inline;
      font-size: $toolbar-font-size;
      font-family: $roboto;
      padding: 6px;
      margin-left: 10px;
      border-radius: $medium-border-radius;
    }
    .editor-toolbar__svg{
      border: none;
      border-radius: $small-border-radius;
      width: 25px;
      height: 20px;
      margin-left: 10px;
      padding:1px;
      &:hover {
        border: none;
        cursor: pointer;
      }
    }
    .editor-toolbar__svg:hover #playPause {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
  }

  .editor-toolbar__files {
    display: flex;
    margin: 0;
    padding: 0 !important;
    height:30px;
    .editor-toolbar__file {
      text-decoration: none;
      list-style: none;
      width: 65px;
      &-button {
        border-radius: 0;
        box-shadow: none;
        padding: 0px 3px !important;
        width: 65px;
        height:25px;
        &:hover, &--selected { // sass-lint:disable-line class-name-format
          border: none;
        }
      }
    }

  }
}
}


.editor-toolbar__item {
  @extend %small-button;
}


// used for editor toolbar
%small-button{
  border: $small-border  $black;
  border-radius: $medium-border-radius;
  color: $black;
  background-color: $white;
  height: 1.5rem;
  margin: $small-padding ;
  padding: $small-padding $medium-padding;
  &:hover {
    cursor: pointer;
    @include gradient(white, $light-gray);
  }
}
