@import 'variables';
@import 'mixins';
@import 'modal';

.login-modal {
  &__content{
    margin: auto;
    width: 50%;
    padding-top: 5%;
  }

  &__div{
    display: block;
    text-align: left;
  }

  &__title{
    @extend %modal__title;
  }

  &__label{
    @extend %modal__label;
  }

  &__input{
    @extend %modal__input;
  }

  &__button{
    @extend %modal__button;
  }

  &__buttonholder {
    @extend %modal__buttonholder;
  }

  &__forgot-link, &__signup-link {
    @extend %modal__link;
    margin: $large-margin 0;
    &:hover {
      background: transparent;
    }
  }

  &__signup-button {
    @extend %modal__button;
  }

  &__notice {
    @extend %modal__notice;
  }

  &__text-secondary {
    @extend %modal__text;
  }
}
