@import 'variables.scss';

.upgrade-view{
  width: 100%;
  height: 40%;
  display: flex;

  &__container{
    color: $black;
    width: 100%;
    
  }

  &__header{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #667378;
    display: flex;
  }

  &__sub-header {
    border-radius: 10px;
    background-color: #e5e5e5;
    height: 80%;
    padding: 1%;
    align-content: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #667378;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__sub-header__learnmore-link {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #009887;
    text-decoration: underline;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  &__sub-header__payment-link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #009887;
  }

}