body {
  background-color: #f9f9f9;
}

#generic-loader-svg {
  width: 20%;
  max-height: 60%;
  margin: 0 auto;
  display: block;
/*   visibility: hidden; */
}

.loader__container {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}

#sq1 {
  animation: stretch1 2s infinite;
}
#sq2 {
  animation: stretch2 2s infinite;
}
#reg {
  transform: translate(410px, 380px);
}
@keyframes stretch2 {
  0% {
    transform:scaleY(2) translate(-400px, -370px);
  }
  10% {
    transform:scaleY(2) translate(-400px, -370px);
  }
  30% {
    transform:scaleY(1) translate(0px, -400px);
  }
  40% {
    transform: translate(0px, -360px);
  }
  60% {
    transform:scaleX(1) translate(0px, -360px);
  }
  75% {
    transform:translate(0px, 0px);
  }
  80% {
    transform: translate(-400px, 0);
  }
  90% {
    transform:scaleY(2) translate(-400px, -370px);
  }
  100% {
    transform:scaleY(2) translate(-400px, -370px);
  }
}
@keyframes stretch1 {
  0% {
    transform:scaleX(1) translate(0px, -360px);
  }
  10% {
    transform:scaleX(1) translate(0px, -360px);
  }
  25% {
    transform:translate(0px, 0px);
  }
  30% {
    transform: translate(-400px, 0);
  }
  40% {
    transform:scaleY(2) translate(-400px, -370px);
  }
  60% {
    transform:scaleY(2) translate(-400px, -370px);
  }
  80% {
    transform:scaleY(1) translate(0px, -400px);
  }
  90% {
    transform: scaleX(1) translate(0px, -360px);
  }
  100% {
    transform:scaleX(1) translate(0px, -360px);
  }
}

@media screen and (max-width: 786px) {
  #generic-loader-svg {
    width: 20%;
    max-height: 40%;
    display: block;
  }

  .loader__container {
    display: block;
  }
}




