@import "variables.scss";

.modal{
  $root: &;
  font-family: $roboto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-layer-4;
  
  &__overlay{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(0, 21, 30, 0.7);
    animation: fade-in 250ms ease-in 0s 1;
  }
  
  &__box{
    margin-bottom: 30px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    animation: float-down 250ms ease-out 0s 1;
    width: 500px;
    background: white;
    #{$root}__header{
      border-radius: 3px;
      background-color: $g7;
      padding: 13px 16px 12px 16px;
      font-size: $h2-size;
      font-weight: $heavy-font-weight;
    }

    #{$root}__body{
      padding: 40px;
    }
  }
}

@keyframes float-down{
  from{
    opacity: 0;
    top: 0px;
  }
  to{
    opacity: 1;
    top: 112px;
  }
}

@keyframes fade-in{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}