@import 'variables';
@import 'base';

.dashboard-nav {
  &__new-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
  }
  &__sub-button-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: $z-index-layer-4;
    background: $g7;
    box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -moz-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -webkit-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    width: 100%;
    bottom: -80px;
  }
  &__add-sub-button {
    padding: $small-padding;
    background: transparent;
    color: $g2;
    border: 0;
    font-size: $toolbar-font-size;
    line-height: $p-line-height;
    text-align: left;
    &:hover {
      border: 0;
      background: transparent;
      color: $green;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__upper-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $black;
    justify-content: space-between;
  }
  &__lower-container {
    display: flex;
    height: $dashboard-nav-height;
    flex-direction: row;
    width: 80%;
    border: none;
    margin: 0 10%;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    height: $dashboard-nav-height;
  }
  &__top-nav {
    border-bottom: solid $small-border $g4;
  }
  &__list-item {
    padding-right: $xlarge-padding;
    height: $dashboard-nav-height;
  }
  &__button {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid $small-border transparent;
    font-size: $p-size;
    color: $g4;
    font-weight: 500;
    padding: $medium-padding 0;
    height: 100%;
    &:hover {
      border: none;
      border-radius: 0;
      border-bottom: solid $small-border $b2;
      background: transparent;
      color: $b2;
    }
    &--selected {
      color: $b2;
      border-bottom: solid $small-border $b2;
    }
  }
  &__dropdown {
    height: $large-height;
    width: fit-content;
    border-radius: $small-border-radius/2;
    border: solid $small-border $g5;
    background: transparent;
    color: $g3;
    font-size: $small-font-size;
  }
  &__clear-link {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    font-weight: 400;
    color: $green;
    border-radius: 0;
    text-decoration: underline;
    font-size: $small-font-size;
  }
  &__title-search {
    height: $large-height;
    width: fit-content;
    border-radius: $small-border-radius/2;
    border: solid $small-border $g5;
    background: transparent;
    color: $g3;
    font-size: $small-font-size;
    margin-right: $medium-margin;
  }
  &__dropdown-label {
    font-size: $small-font-size;
    color: $g3;
    padding-right:$small-padding;
    line-height: $large-height;
    margin: 0;
  }
  &__dropdown-container {
    display: flex;
    flex-direction: row;
    padding: $large-padding 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__dropdown-sub-container {
    display: flex;
    flex-direction: row;
  }
  &__add-button {
    @extend %peblio-button;
    padding: $small-padding/2 $small-padding;
    margin: 0;
    border-radius: $small-border-radius;
    display: flex;
    align-items: baseline;
    &:hover {
      background: $green;
      color: $white;
    }
  }
  &__sub-container {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: $medium-margin;
  }
  &__profile-link {
    @extend %peblio-button;
    margin: $medium-margin 0;
    text-decoration: none;
    border-radius: $small-border-radius;
  }
  &__label {
    padding-right: $large-padding;
  }
  &__radio {
    & svg path {
      fill: $g3;
    }
    &--selected {
      & svg path {
        fill: $green;
      }
    }
  }
  &__hide {
    display: none;
  }
}

.dashboard-side-nav {
  &__container {
    position: absolute;
    left: 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: $large-padding;
    height: calc(100% - #{$main-toolbar-height});
    box-sizing: border-box;
    background: $g8;
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: $large-margin 0;
    border-bottom: solid $g5 $small-border;
  }
  &__list-item {
    padding: 0 $small-padding;
  }
  &__list-item--selected {
    background-color: $g6;
  }
  &__memory-heading {
    font-size: $medium-font-size;
    font-weight: normal;
    text-transform: uppercase;
    color: $g3;
  }
  &__memory-details {
    font-size: $small-font-size;
    font-weight: normal;
    color: $g4;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  &__button {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid $small-border transparent;
    font-size: $small-font-size;
    color: $g4;
    font-weight: 500;
    padding: $small-padding 0;
    height: 100%;
    &:hover {
      border: none;
      border-radius: 0;
      border-bottom: solid $small-border $b2;
      background: transparent;
      color: $b2;
    }
    &--selected {
      color: $b2;
      border-bottom: solid $small-border $b2;
    }
  }
}

.progressbar-container{
  background-color: $g7;
}

.progressbar-progress{
  background-color: $tab-blue !important;
}
