@import 'variables';

.dashboard-nav {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
    & div:last-child {
      border: none !important;
    }
  }
  &__upper-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $black;
    justify-content: space-between;
  }
  &__lower-container {
    display: flex;
    height: 60px;
    flex-direction: row;
    width: 80%;
    border-bottom: solid $small-border $g4;
    margin: 0 10%;
    justify-content: space-between;
    background: $white;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__list-item {
    padding-right: $xlarge-padding;
  }
  &__button {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid $small-border transparent;
    font-size: $p-size;
    color: $g4;
    font-weight: 500;
    padding: $medium-padding 0;
    height: 100%;
    &:hover {
      border: none;
      border-radius: 0;
      border-bottom: solid $small-border $b2;
      background: transparent;
      color: $b2;
    }
    &--selected {
      color: $b2;
      border-bottom: solid $small-border $b2;
    }
  }
  &__dropdown {
    height: $large-height;
    width: fit-content;
    border-radius: $small-border-radius/2;
    border: solid $small-border $g5;
    background: transparent;
    color: $g3;
    font-size: $small-font-size;
  }
  &__clear-link {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    font-weight: 400;
    color: #337ab7;
    border-radius: 0;
    text-decoration: underline;
  }
  &__title-search {
    margin: 0rem 2.5rem 0rem 0rem;
    font-size: 16px;
    line-height: 24px;
    border: solid $small-border $g5;
    border-radius: $small-border-radius;
    padding: $small-padding/2;
    background: $g7;
    color: $g4;
    position: relative;
  }
  &__dropdown-label {
    font-size: $small-font-size;
    color: $g3;
    padding-right:$small-padding;
    line-height: $large-height;
    margin: 0;
  }
  &__dropdown-container {
    display: flex;
    flex-direction: row;
    padding: $medium-padding 0;
  }
  &__label {
    padding-left: $large-padding;
  }
  &__radio {
    & svg path {
      fill: $g3;
    }
    &--selected {
      & svg path {
        fill: $green;
      }
    }
  }
  &__hide {
    display: none;
  }
}
