@import 'variables';
@import 'mixins';

.preferences {
  &__container {
    position: fixed;
    display: none;
    background-color: $black;
    top: $main-toolbar-height + $arrow-size/2;
    width: $preferences-width;
    z-index: $z-index-layer-3;
    transition: 0.5s;
    padding-bottom: $large-padding;
    border-radius: $small-border-radius;
    border: $small-border solid $white;
    &::after {
      content: '';
      position: absolute;
      width: $arrow-size;
      height: $arrow-size;
      background: $black;
      top: 0;
      right: calc(50% - #{$arrow-size/2} - 8px);
      transform: translate(0, -50%) rotate(45deg);
      border-left: $small-border solid $white;
      border-top: $small-border solid $white;
    }
    &--open { // sass-lint:disable-line class-name-format
      display: flex;
    }
  }

  &__heading {
    font-size: $medium-font-size;
    text-align: center;
    color: $white;
    font-weight: $medium-font-weight;
    padding-top: $medium-padding;
  }
}

.editor-preferences {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
  }
  &__list {
    background-color: $pref-gray;
    list-style: none;
    border-radius: $small-border-radius;
    padding: $medium-padding 0;
    width: 80%;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $small-padding $medium-padding;
  }
  &__label {
    color: $white;
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  &__input {
    width: 100%;
    height: $large-height;
    border-radius: $small-border-radius/2;
    border: none;
    text-align: center;
  }
  &__dropdown {
    height: $large-height;
    width: 100%;
    border-radius: $small-border-radius/2;
    border: none;
  }
  &__sub-heading {
    color: $white;
    font-size: $medium-font-size;
    font-weight: $medium-font-weight;
    margin: 0;
    width: 100%;
  }
}
