@import 'variables';
@import 'mixins';

.preferences {
  &__container {
    position: fixed;
    display: flex;
    background-color: $black;
    height: calc(100% - #{$main-toolbar-height} - #{1.5*$insert-toolbar-height});
    bottom: 0;
    right: 0;
    width: $preferences-width;
  }
  &__heading {
    font-size: $medium-font-size;
    color: $white;
    font-weight: $medium-font-weight;
  }
}

.editor-preferences {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
  }
  &__list {
    background-color: $pref-gray;
  }

}
