@import 'variables';
@import 'mixins';

.preferences {
  &__container {
    position: fixed;
    display: flex;
    background-color: $black;
    height: calc(100% - #{$main-toolbar-height} - #{$insert-toolbar-height});
    bottom: 0;
    right: -1*$preferences-width;
    width: $preferences-width;
    z-index: $z-index-layer-2;
    transition: 0.5s;
    &--open {
      right: 0;
      transition: 0.5s;
    }
  }

  &__heading {
    font-size: $medium-font-size;
    text-align: center;
    color: $white;
    font-weight: $medium-font-weight;
  }
}

.editor-preferences {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
  }
  &__list {
    background-color: $pref-gray;
    list-style: none;
    border-radius: $small-border-radius;
    padding: $medium-padding 0;
    width: 80%;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    flex-direction: row;
    padding: $small-padding;
  }
  &__label {
    color: $white;
    justify-content: space-around;
    display: flex;
    width: 100%;
  }
  &__input {
    width: 30%;
    height: $large-height;
    border-radius: $small-border-radius/2;
    border: none;
    text-align: center;
  }
  &__dropdown {
    height: $large-height;
    border-radius: $small-border-radius/2;
    border: none;
  }
  &__sub-heading {
    margin: 0;
    font-size: $medium-font-size;
    font-weight: $medium-font-weight;
  }
}
