*, *::before, *::after {
  // box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: $roboto;
  background-color: $g6;
  line-height: 20px;
}

button {
  @extend %menu-item ;
}

%menu-item {
  border: $small-border solid $white;
  border-radius: $small-border-radius;
  color: $white;
  fill:$white;
  background-color: $black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    border: $small-border solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}

%beta-tag {
  padding: 3px 5px;
  background: rgb(0, 152, 135);
  top: -4px;
  font-family: $sourceSansPro;
  font-size: 8px;
  color: rgb(255, 255, 255);
  border-radius: $small-border-radius;
  letter-spacing: 1px;
  text-transform: uppercase;
}


%mainToolbar__button{
  margin: 0 $small-margin;
  padding: $main-toolbar-padding;
  float: right;
  font-size: 14px;
  font-weight: normal;
  border: none;
  color: $white;
  -webkit-transition-duration: 150ms; /* Safari */
  transition-duration: 150ms;
  background: none;
  &:hover {
    border: none;
    color: $light-gray;
    background: none;
    cursor: pointer;
  }
}

%vertical-spacer {
  height: 18px;
  width: 1px;
  background-color: #A2AEB5;
  margin: $medium-margin 0;

.react-tooltip-lite {
  background: $light-black;
  color: $white;
  font-size: $small-font-size;
}

.react-tooltip-lite-arrow {
  border-color: $light-black;

}
