body, html{
  margin: 0;
  padding: 0;
  font-family: $roboto;
  background-color: $whitish;
}

button {
  @extend %menu-item ;
}

%menu-item {
  border: $small-border solid $white;
  border-radius: $small-border-radius;
  color: $white;
  fill:$white;
  background-color: $black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    border: $small-border solid $gray;
    color: $black;
    background: $white;
    cursor: pointer;
  }
}
