@import 'variables';
@import 'mixins';

.ReactModal__Overlay { // sass-lint:disable-line class-name-format
  z-index: $z-index-layer-4;
  background-color: $modal-overlay !important;
}

%modal{
  background: $g8;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: $medium-border-radius;
  border: 2px solid $gray;
  outline: 0;
  position: relative;
}

%modal__content {
  margin: auto;
  padding: 5% 0;
  width: 45%;
}

%modal__title{
  font-size: $large-font-size;
  font-weight: $heavy-font-weight;
  display: block;
  color: $green;
  text-align: center;
  margin-bottom: $large-margin;
}

%modal__subtitle{
  font-size: $medium-font-size;
  display: block;
  text-align: center;
  margin: $small-margin;
  font-weight: $heavy-font-weight;
  color: $g3;
}

%modal__label{
  font-size: $medium-font-size;
  font-style: bold;
  text-align: left;
  display: block;
  color: $light-gray;
  margin-top: $medium-margin;
}

%modal__text {
  text-align: center;
  color: $gray;
  margin: $small-margin;
}

%modal__button {
  font-size: $medium-font-size;
  background-color: $green;
  color: $white;
  margin-top: $large-margin;
  width: 50%;
  padding: 10px;
}

%modal__canvas-button {
  font-size: $small-font-size;
  background-color: $green;
  color: $white;
  width: auto;
}

%modal__link {
  width: 100%;
  font-size: $medium-font-size;
  background: none;
  color: $gray;
  font-size: $medium-font-size;
  border: 0;
  &:hover {
    border: 0;
  }
}

%modal__input {
  width:100%;
  height: 35px;
  display: block;
  background-color: white;
  font-size: $medium-font-size;
  color: $gray;
  text-align: $left-align;
  padding: $medium-padding;
  margin-bottom: $large-margin;
  border-radius: $small-border-radius;
  border: $small-border solid $lighter-gray;
}

%modal__input::placeholder {
  color: $light-gray;
  text-transform: capitalize;
}

// for internet explorer 10-11
%modal__input:-ms-input-placeholder {
  color: $light-gray;
  text-transform: capitalize;
}

// for microsoft edge
%modal__input::-ms-input-placeholder {
  color: $light-gray;
  text-transform: capitalize;
}

%modal__notice {
  font-size: $small-font-size;
  color: $blue;
  justify-content: center;
  display: flex;
}
%modal__buttonholder {
  text-align: $center-align;
}

%modal__radio {
  text-align: $center-align;
  margin-right: $small-margin;
}
.modal__xlarge {
  @extend %modal;
  width: 75%;
  height: 70%;
  background: #EAE8E8;
  padding: 30px;
}

.modal__large{
  @extend %modal;
  width: 60%;
  height: fit-content;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
}

.modal__small{
  @extend %modal;
  width: 60%;
}

.modal__auto{
  @extend %modal;
  width: 60%;
  height: fit-content;
}

.modal__image{
  @extend %modal;
  width: $image-notice-width;
  height: fit-content;
  padding: $medium-padding;
}

.modal__close-button{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: black;
  fill: transparent;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition-duration: unset;
  transition-duration: unset;

  &:hover {
    border: none;
    color: black;
    background: transparent;
  }

}
