//colors
$white: #FFFFFF;
$whitish: #FBFBFB;

$lighter-gray: #F0F0F0;
$light-gray: #AAAAAA;
$medium-gray: #B1B1B1;
$boxShadow-gray: #888888;
$hover-gray:#CFCFCF;
$canvas-gray: #E6E6E6;
$profile-gray: #01151E;
$yellow: #FED034;
$light-green: #5EC1B8;

$gray: #888;
$black: #00151E;
$dark-gray:#242424;
$pref-gray:rgba(255, 255, 255, 0.09);

$blue: #009887;
$dark-blue: #007C6E;
$green: #189888;

$tab-yellow: #FFD210;
$tab-black: #00151F;
$tab-blue: #006B99;
$tab-pink: #970075;


$modal-overlay: rgba(0,0,0,0.45);

//size
$total-width: 1200px;
$preferences-width: 250px;
$warning-width: 200px;

//padding
$micro-padding: .1rem;
$mini-padding: .2rem;
$small-padding: .5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;
$xlarge-padding: 2.5rem;
$main-toolbar-padding:15 10 15 10;

//line height
$h1-line-height:1.3;
$h2-line-height:1.5;
$p-line-height:1;
$large-height: 1.5rem;

//margin
$micro-margin: .2rem;
$small-margin: .5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;
$xlarge-margin: 2.5rem;
$xxlarge-margin: 5rem;

//radius
$small-border-radius: 6px;
$medium-border-radius: 12px;
$large-border-radius: 20px;

//border
$small-border: 1px;
$medium-border: 2px;
$large-border: 5px;

//fonts
$helvetica: Arial, Helvetica, sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

$small-font-size: 0.8rem;
$medium-font-size: 1rem;
$small-font-size: 0.8rem;
$large-font-size: 1.5rem;
$xlarge-font-size: 2rem;

//alignments
$left-align: LEFT;
$center-align: CENTER;
$right-align: RIGHT;

$light-font-weight: 300;
$medium-font-weight: 400;
$heavy-font-weight: 500;

//sizes
$nav-width:35px;
$toolbar-width: 500px;
$main-toolbar-height:50px;
$insert-toolbar-height:45px;
$files-indicator-width:10px;
$widget-nav-height: 20px;
$editor-toolbar-height: 40px;

//z-indexes
$z-index-layer-0: 0;
$z-index-layer-1: 100;
$z-index-layer-2: 200;
$z-index-layer-3: 300;
$z-index-layer-4: 400;

//shadow variables
$shadow-v-offset: 2px;
$shadow-blur: 4px;
