//colors
$white: #FFFFFF;
$whitish: #FBFBFB;

$transparent: #FFFFFF00;
$light-black: #21333b;
$lighter-gray: #F0F0F0;
$light-gray: #AAAAAA;
$medium-gray: #B1B1B1;
$boxShadow-gray: #888888;
$hover-gray:#CFCFCF;
$canvas-gray: #E6E6E6;
$profile-gray: #01151E;
$yellow: #FED034;
$light-green: #5EC1B8;
$red: #D73E2C;
$heather: #bdc3c7;
$licorice: #373a47;
$mistgrey: #b8b7ad;

$gray: #888888;
$black: #00151E;
$black-trans: #00151E11;
$dark-gray:#242424;
$pref-gray:rgba(255, 255, 255, 0.09);

$green: #189888;

$text-green: #008575;

$tab-yellow: #FFD210;
$tab-black: #00151F;
$tab-blue: #006B99;
$tab-pink: #970075;

$tag-yellow: #FFF6CF;
$tag-pink: #EACCE4;
$tag-blue: #D1E7F0;
$tag-green: #D7EEE0;

$g1: #00151E;
$g2:#33444B;
$g3:#667378;
$g4:#99A1A5 ;
$g5:#CCD0D2 ;
$g6:#E5E8E8 ;
$g7:#F2F3F4;
$g8:#F7F8F8;

$b1:#009887;
$b2:#33AD9F;
$b3:#99D6CF;
$b4:#CCEAE7;

$h1-color: #33444B;
$h2-color: #33444B;
$p-color: #00151E;

$modal-overlay: rgba(0,0,0,0.45);

//padding
$micro-padding: .1rem;
$mini-padding: .2rem;
$small-padding: .5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;
$xlarge-padding: 2.5rem;
$main-toolbar-padding:15 10 15 10;
$canvas-padding: 100px;

$small-padding-em: .5rem;
$medium-padding-em: 1em;
$large-padding-em: 1.5em;
$xlarge-padding-em: 2.5em;

//line height
$title-line-height:50px;
$h1-line-height:36px;
$h2-line-height:26px;
$p-line-height: 24px;
$large-height: 1.5rem;

//margin
$micro-margin: .2rem;
$small-margin: .5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;
$xlarge-margin: 2.5rem;
$xxlarge-margin: 5rem;

//radius
$small-border-radius: 6px;
$medium-border-radius: 9px;
$large-border-radius: 20px;

//border
$small-border: 1px;
$medium-border: 2px;
$large-border: 5px;
$border-shadow: 5px;

//fonts
$inconsolata: 'Inconsolata', monospace !important;
$roboto: 'Roboto', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;

$small-font-size: 0.8rem;
$medium-font-size: 1rem;
$large-font-size: 26px;
$xlarge-font-size: 32px;
$toolbar-font-size: 12px;

$title-size: 36px;
$h1-size: 28px;
$h2-size:20px;
$p-size:16px;
$normal-size:16px;


//alignments
$left-align: LEFT;
$center-align: CENTER;
$right-align: RIGHT;

$light-font-weight: 300;
$medium-font-weight: 400;
$heavy-font-weight: 500;

//sizes
$account-image-width: 150px;
$arrow-size: 25px;
$button-size: 35px;
$console-heading-height: 20px;
$console-output-height: 45px;
$dashboard-nav-height: 60px;
$editor-toolbar-height: 32px;
$editor-toolbar-files-height:32px;
$editor-toolbar-content-height:23px;
$editor-toolbar-file-width:65px;
$editor-preferences-width:140px;
$editor-preferences-button:80px;
$files-indicator-width:10px;
$file-upload-width:200px;
$image-notice-width:500px;
$image-upload-toolbar-width:200px;
$image-upload-modal:200px;
$insert-toolbar-height:45px;
$main-toolbar-height:50px;
$title-width:35px;
$navigation-width: 250px;
$pebl-profile-image-size-width: 200px;
$pebl-profile-image-size-height: 150px;
$pebl-profile-details: 30px;
$preferences-width: 250px;
$toolbar-width: 500px;
$total-width: 816px;
$warning-width: 200px;
$widget-nav-height: 20px;
$welcome-container-height: 500px;
$workspace-navbar-height: 32px;

//z-indexes
$z-index-layer-0: 0;
$z-index-layer-1: 100;
$z-index-layer-1-5: 150;
$z-index-layer-2: 200;
$z-index-layer-2-5: 250;
$z-index-layer-3: 300;
$z-index-layer-4: 400;

//shadow variables
$shadow-v-offset: 2px;
$shadow-blur: 4px;

:export {
  totalWidth: $total-width;
  white: $white;
  smallPadding: $small-padding;
  smallBorderRadius: $small-border-radius;
  green: $green;
  g4: $g4;
  border: $small-border;
}
