@import 'variables.scss';

.class-view{
  $root: &;
  $topbar-height: 50px;
  position: absolute;
  left: 0;
  top: $topbar-height;
  display: flex;
  margin: 0;
  padding: 0;
  height: calc(100vh - #{$topbar-height});
  width: 100vw;
  background: #f7f7f7;
  box-sizing: border-box;
  font-family: $roboto;

  &__main{
    flex: 1;
    padding: 40px;
    padding-left: 64px;
    box-sizing: border-box;
    height: 100%;
    
    #{$root}__header-area{
      display: flex;
      color: $black;

      &__bread-crumbs{
        font-weight: $heavy-font-weight;
        font-size: 20px;
        margin-right: auto;
        display: flex;
        align-items: center;
        a{
          color: $black;
          text-decoration: none;
        }
      }

      &__class-code{
        display: flex;
        font-weight: $heavy-font-weight;
        align-items: center;
        input{
          border: none;
          background: none;
          width: 80px;
          margin: 0 4px;
          cursor: pointer;
          font-family: $roboto;
          font-size: 14px;
          font-weight: $heavy-font-weight;
          color: $g3;
          transition: transform ease 50ms;
          &:focus{
            outline: none;
          }
          &::selection{
            color: none;
          }

        }
        
        &.clicked{
          transform: scale(0.95);
        }
        svg{
          cursor: pointer;
        }
      }
    }
    

    #{$root}__tab-switcher{
      width: 100%;
      margin-top: 23px;
      &__tabs{
        display: flex;
        justify-content: center;
      }
    }
  }
}