@import 'variables';
@import 'mixins';
@import 'base';

.beta-tag {
  @extend %beta-tag;
}

.editor__dark {
  .editor-toolbar {
    &__container {
    background-color: $light-gray;
    background: $dark-gray; /* For browsers that do not support gradients */
    .editor-toolbar__button-container {
      background-color: $g1;
      border: $small-border solid $g1;
      box-sizing: border-box;
      .editor-toolbar__title {
        color: $white;
        background-color: $g4;
      }
      .editor-toolbar__button {
        color: $g5;
        &:hover {
          color: $g2;
        }
      }
      .editor-toolbar__dropdown{
        background-color: $g2;
        color: $g5;
      }
      .editor-toolbar__svg {
        background-color: $g2;
        &:hover {
          background-color: $g5;
        }

        &.editor-toolbar--isPlaying,
        &.editor-toolbar--isPaused {
          background-color: $green;
        }
      }
      .editor-toolbar__svg:hover #playPause {
        fill: $g2;
        stroke: none;
      }
      #playPause {
        fill: $g5;
      }
    }

    .editor-toolbar__files {
      background-color: $g2;
      .editor-toolbar__file {
        &-button {
          white-space: nowrap;
          background-color: $g4;
          color: $white;
          border: $small-border solid $g2;
          box-sizing: border-box;
          &:hover, &--selected { // sass-lint:disable-line class-name-format
            background-color: $g2;
            color: $white;
          }
          &-static {
            overflow: hidden;
            background-color: $g3;
            color: $g5;
            border: $small-border solid $g2;
            &:hover {
              background-color: $g3;
              color: $g5;
              cursor: default;
              border: $small-border solid $g2;
            }
          }
        }
      }

    }
  }
  }
}

.editor__light {
  .editor-toolbar {
    &__container {
    .editor-toolbar__button-container {
      background-color: $white;
      border: $small-border solid $g5;
      box-sizing: border-box;
      .editor-toolbar__title {
        color: $g1;
        background-color: $g6;
      }
      .editor-toolbar__button {
        color: $b2;
        &:hover {
          color: $g6;
        }
      }
      .editor-toolbar__dropdown{
        background-color: $g6;
        color: $b2;
      }
      .editor-toolbar__svg {
        background-color: $g6;
        &:hover {
          background-color: $b2;

          #playPause {
            fill: $g6;
          }
        }

        &.editor-toolbar--isPlaying,
        &.editor-toolbar--isPaused {
          background-color: $b2;

          #playPause {
            fill: $g6;
          }
        }
      }
      .editor-toolbar__svg:hover #playPause {
        stroke: none;
      }
      #playPause {
        fill: $b2;
      }
    }

    .editor-toolbar__files {
      background-color: $g5;
      .editor-toolbar__file {
        &-button {
          background-color: $g8;
          color: $g3;
          border: $small-border solid $g5;
          box-sizing: border-box;
          &:hover, &--selected { // sass-lint:disable-line class-name-format
            background-color: $g4;
            color: $g8;
          }
          &-static {
            overflow: hidden;
            background-color: $g6;
            color: $g3;
            border: $small-border solid $g7;
            &:hover {
              background-color: $g6;
              color: $g3;
              border: $small-border solid $g7;
              cursor: default;
            }
          }
        }
      }

    }
  }
  }
}


.editor-toolbar {
  &__image-upload-gif {
    margin: 0 auto;
  }
  &__image-upload {
    position: absolute;
    background: $lighter-gray;
    z-index: $z-index-layer-4;
    left: calc(50% - #{$image-notice-width/2});
    top: 30%;
    width: $image-notice-width;
    padding: $large-padding;
    border-radius: $small-border-radius;
    box-shadow: 0px 0px $border-shadow $g4;
  }
  &__image-close {
    font-size: $medium-font-size;
    border: 0;
    position: absolute;
    right: $medium-padding;
    top: $medium-padding;
    background: transparent;
    color: $g4;
    border: none;
    &:hover {
      background: transparent;
      color: $g2;
      border: none;
    }
  }
  &__image-notice {
    text-align: center;
    text-transform: capitalize;
  }
  &__title {
    color: $white;
    display: inline;
    margin-right: $large-margin;
    margin-left: $small-margin;
  }

  &__warning {
    color: $gray;
    width: $warning-width;
    font-size: $small-font-size;
    margin: 0;
  }
  &__warning-container {
    display: none;
    background: $white;
    border-radius: $small-border-radius;
    padding: $small-padding;
    position: absolute;
    left: $medium-margin;
    top: 20px;
    z-index: $z-index-layer-4;
  }
  &__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: $z-index-layer-2;

    .editor-toolbar__button-container {
      display: flex;
      justify-content: space-between;
      height: $editor-toolbar-height;
      padding: 3px;
      display: flex;
      align-items: center;
      &-right {
        display: flex;
        position: relative;
      }
      .editor-toolbar__title {
        display: inline;
        font-size: $toolbar-font-size;
        font-family: $roboto;
        padding: 2px 4px;
        margin-left: 10px;
        border-radius: $medium-border-radius;
      }
      .editor-toolbar__dropdown{
        height: $editor-toolbar-content-height;
        border-radius: $small-border-radius;
        border: none;
        margin-left: $small-margin;
      }
      .editor-toolbar__button {
        border: none;
        border-radius: $small-border-radius;
        right: $small-margin;
        height: $editor-toolbar-content-height;
        font-size: $small-font-size;
        &:hover {
          border: none;
          cursor: pointer;
        }
      }
      .editor-toolbar__svg {
        border: none;
        border-radius: $small-border-radius;
        width: 25px;
        height: $editor-toolbar-content-height;
        margin-left: 10px;
        padding: 1px;
        &:hover {
          border: none;
          cursor: pointer;
        }
      }
      .editor-toolbar__svg:hover #playPause {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      }
    }

    .editor-toolbar__files {
      display: flex;
      margin: 0;
      padding: 0 !important;
      height: $editor-toolbar-files-height;
      .editor-toolbar__file {
        text-decoration: none;
        list-style: none;
        width: $editor-toolbar-file-width;
        &-button {
          border-radius: 0;
          box-shadow: none;
          padding: 0px 3px !important;
          width: 65px;
          height: 100%;
          &:hover, &--selected { // sass-lint:disable-line class-name-format
            border: none;
          }
        }
      }
    }
  }
  &__svg-info {
    display: inline-block;
    position: relative;
    height: 20px !important;
    width: 20px !important;
    border-radius: $large-border !important;
    &:hover .editor-toolbar__warning-container {
      display: block;
    }
    &:focus .editor-toolbar__warning-container {
      display: block;
    }
  }
  &__pref-svg {
    height: $editor-toolbar-content-height;
  }
  &__button {
    background: none;
    &:hover {
      background: none;
    }
  }
}

.editor-toolbar__item {
  @extend %small-button;
}

// used for editor toolbar
%small-button {
  border: $small-border  $black;
  border-radius: $medium-border-radius;
  color: $black;
  background-color: $white;
  height: 1.5rem;
  margin: $small-padding ;
  padding: $small-padding $medium-padding;
  &:hover {
    cursor: pointer;
    @include gradient(white, $light-gray);
  }
}
