@import 'variables';
@import 'mixins';
@import 'modal';

.description-modal{
  &__content{
    margin: auto;
    width: 45%;
    padding-top: 5%;
  }

  &__title{
    @extend %modal__title;
  }

  &__input{
    @extend %modal__input;
    &::placeholder {
      font-size: $normal-size;
      line-height: $normal-size*1.5;
      font-style: italic;
    }
  }
  &__desc-input{
    resize: none;
    height: $normal-size*10;
  }

  &__button{
    @extend %modal__button;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

}
