@import 'variables';
@import 'mixins';

$colors: $tag-yellow, $tag-pink, $tag-blue, $tag-green;

.tags {
  &__container {
    align-items: center;
    overflow-x: scroll;
    &--canvas {
      display: flex;
      align-items: baseline;
    }
    & input {
      text-transform: lowercase;
      margin-right: $large-margin;
      font-size: $p-size;
      line-height: $p-line-height;
      border: solid $small-border $g5;
      border-radius: $small-border-radius;
      padding: $small-padding/2;
      // margin-bottom: $large-padding;
      background: $g7;
      color: $g4;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-style: italic;
        color: $g5;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-style: italic;
        color: $g5;
      }
      &::-ms-input-placeholder { /* IE 10+ */
        font-style: italic;
        color: $g5;
      }
      &::-moz-placeholder { /* Firefox 18- */
        font-style: italic;
        color: $g5;
      }
      &--modal {
        width: 100%;
      }
    }
  }

  &__input-item {
    display: flex;
    padding: $small-border-radius/2;
    width: 100%;
    box-sizing: border-box;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: $large-padding;
    &--preview {
      flex-wrap: wrap;
    }
  }
  &__list-item {
    list-style: none;
    display: flex;
    height: fit-content;
    border-radius: $small-border-radius;
    padding: $small-padding/2;
    font-weight: 300;
    margin-right: $medium-margin;
    margin-bottom: $small-margin;
  }
  &__delete-tag {
    background: transparent;
    color: $g4;
    border: 0;
    &:hover {
      color: $g2;
      background: transparent;
      border: 0;
    }
  }
  &__name {
    color: $g4;
    font-family: $roboto;
    font-size: $p-size;
    line-height: $p-line-height;
    white-space: nowrap;
    margin: 0 $small-margin/2;
    text-decoration: none;
  }
}


@for $i from 1 through length($colors) {
    .tags__list-item:nth-child(#{length($colors)}n+#{$i}) {
        background: nth($colors, $i)
    }
}
