@import 'variables';
@import 'mixins';

.editor-toolbar__container {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  background: $dark-gray; /* For browsers that do not support gradients */
  width: 100%;
  height:10%;
  min-height: 60px;
  padding: 0 0 ;
  border-radius: $small-border-radius $small-border-radius 0 0 ;
  z-index: $z-index-layer-2;

}
.editor-toolbar__button-container {
  height:40px;
}

.editor-toolbar__item {
  @extend %small-button;
}

.editor-toolbar__svg{
  border: none;
  border-radius: $small-border-radius;
  width: 1.5rem;
  background-color: $dark-gray;
  height: 1.5rem;
  margin: $small-padding $small-padding 0 ;
  &:hover {
    background-color: $dark-gray;
    border: none;
    cursor: pointer;
  }
}

.editor-toolbar__svg:hover #playPause {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  fill:$light-gray;
  stroke:$light-gray;
}

.editor-toolbar {
  &__files {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: white;
    height:20px;
  }
  &__file {
    text-decoration: none;
    list-style: none;
    height:20px;
    &-button {
      border-radius: 0;
      box-shadow: none;
      background-color: white;
      color: gray;
      height:20px;
      &:hover, &--selected { // sass-lint:disable-line class-name-format
        border: none;
        background-color: $lighter-gray;
        color: $black;
      }
    }
  }
  &__title {
    color: $white;
    display: inline;
    margin: 0 $large-margin;
  }
}

// used for editor toolbar
%small-button{
  border: $thin-border-width  $black;
  border-radius: $medium-border-radius;
  color: $black;
  background-color: $white;
  height: 1.5rem;
  margin: $small-padding ;
  padding: $small-padding $medium-padding;
  &:hover {
    cursor: pointer;
    @include gradient(white, $light-gray);
  }
}
