@import 'variables.scss';


.assignment-page__container__students__student{
  $stud: &;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: $roboto;
  box-sizing: border-box;
  height: 58px;
  transition: background 300ms ease;
  background: none;
  border-bottom: 1px $g5 solid;
  border-radius: none;

  &:focus{
    outline: none;
  }
  &:hover{
    background: $g6;
    border: none;
  }
  &--selected{
    background: $g6;
  }

  &__name{
    font-family: $roboto;
    background: none;
    box-sizing: border-box;
    height: 100%;
    width: calc(100% - 119px);
    padding: 8px;
    box-sizing: border-box;
    border-right: 1px $g5 solid;
    display: flex;
    align-items: center;
    font-size: $p-size;
    color: black;
  }
  &__marks{
    padding: 8px;
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 119px;
    font-size: $p-size;
    color: black;
    input{
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
  }
}