@import 'variables';
@import 'mixins';
@import 'modal';

.element__image {
  height: 100%;
  position: absolute;
  top: 0;
  &-legacy {
    width: 100%;
    object-fit: cover;
  }
}

.image__container {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  margin: 0;
  background: $lighter-gray;
  overflow: hidden;
  box-sizing: border-box;
  &--small .image__login {
    .image__title, .image__url {
      display: none;
    }
    .image__drop {
      border: none;
    }
    .image__svg--text {
      display: none;
    }
  }

  &--small {
    .image__content.image__replace-content {
      height: 100%;
      left: 0;
      right: 0;
    }
    .image__drop {
      margin: 0 auto;
    }
  }

  &--exists {
    &:hover {
      .image__content.image__replace-content {
        opacity: 1;
      }
      .image__title {
        display: none;
      }
      .image-edit-toolbar__container {
        display: flex;
      }
    }

    &.image__container--small {
      .image__content.image__replace-content {
        min-height: 100%;
      }
    }

    .image__content.image__replace-content {
      border-top: $small-border solid #ccc;
      height: 100%;
      max-height: 160px;
      opacity: 0;
    }
  }
  &--popup {
    position: absolute;
    width: $file-upload-width;
    left: 50%;
    padding: $large-padding;
    border-radius: $small-border-radius;
    box-shadow: 0px 0px $border-shadow $g4;
    & .image__title {
      display: none;
    }
  }
  &--edit { // sass-lint:disable-line class-name-format
    border: $gray dashed $small-border;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -moz-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -webkit-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
  }
}

.image__login {
  background-color: $lighter-gray;
  box-sizing: border-box;
  height: 50%;
  margin: 0;
  position: relative;
}

.image__popup {
  border: 1px solid #dedede;
  position: absolute;
  bottom: -100px;
  right: -100px;
  height: 200px;
  width: 180px;
  opacity: 0;
  transition: all 0.25s ease;
  visibility: hidden;
  z-index: 1;

  &.visible {
    // box-shadow: 1px 1px 1px 0px #ccc;
    box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
  }
}

.image__holder {
  padding-right: $mini-padding;
  padding-left: $mini-padding;
  padding-top: $micro-padding;
  background: $light-gray;
}

.image__content {
  flex-direction: column;
  justify-content: center;
  height: 100%;
  display: flex;
  background: $lighter-gray;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.25s ease;
}

.image__replace-content {
  position: absolute;
}
.image__content {
  .upload__close {
    color: #333;
    position: absolute;
    top: 3.5px;
    right: 3.5px;
    font-size: 20px;
  }
}

.image__title {
  width:90%;
  text-align: center;
  font-family: $roboto;
  font-size: $medium-font-size;
  padding: $small-padding;
  color:$black;
}

.image__svg {
  width: 100%;
  text-align: center;
}
.image__svg--text {
  text-align: center;
}

.image__drop {
  padding: $small-padding;
  margin: 0 $medium-margin;
  border-radius: $medium-border-radius;
  border: 1px dashed $light-gray;
  color: $gray;

  &.popup {
    max-width: 110px;
  }
}

.image__url {
  width: 100%;
  margin: 0 auto;
}

.image{
  &__upload-container {
    padding: $medium-padding;
  }
  &__upload-notice {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

.element-image__input {
  width: 100%;
  border: none;
  border-radius: $small-border-radius;
  box-shadow: 0 1px #dedede;
  margin: auto;
  padding: 5px;
}

.element-image__add-url {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 $medium-padding;
  text-align: center;
  width: 100%;
  z-index: 1;

  .element-image__label {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}

.element-image input {
  width: 100%;
}

.element__button {
  @extend %modal__canvas-button;
}

.image-resizer__container {
  width: 50%;
  padding: $medium-margin;
  margin: 0 auto;
}

.image-edit-toolbar {
  &__container {
    position: absolute;
    bottom: 0;
    background: $g6;
    display: none;
    padding: $medium-padding;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
  &__button {
    background: $green;
    color: $g6;
    padding: $small-padding/2;
    border: $green solid $small-border;
    margin: $small-margin 0;
    width: 100%;
    &:hover {
      border: $green solid $small-border;
      color: $green;
      background: $g6;
    }
  }
  &__upload-button {
    position: absolute;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    &:hover {
      background: transparent;
      border: none;
      opacity: 1;
    }
  }
  &__pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    background: $g6;
    display: flex;
    padding: $medium-padding;
    flex-direction: column;
    width: $image-upload-toolbar-width;
    box-sizing: border-box;
    box-shadow: 0 -5px 20px -10px $black;
  }
}
