@import 'variables';
@import 'mixins';
@import 'modal';

.element__image {
  width: 100%;
  height: 100%;
}

.image__container {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  margin: 0;

  &-edit {
    background: $lighter-gray;
    border-radius: $small-border-radius;
    min-height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -moz-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -webkit-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
  }
}

.image__login{
  position:relative;
  padding:$small-padding;
  background-color: $lighter-gray;
  height: 90%;
  margin: $small-margin;
  position:relative;
}

.image__holder {
  padding-right: $mini-padding;
  padding-left: $mini-padding;
  padding-top: $micro-padding;
  background: $light-gray;
  margin-bottom: $medium-margin;
}

.image__content{
  flex-direction: column;
  justify-content: center;
  height: 100%;
  display: flex;
  background: $lighter-gray;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.image__title{
  width:90%;
  text-align: center;
  font-family: $roboto;
  font-size: $medium-font-size;
  padding: $small-padding;
  color:$black;
}

.image__svg{
  width:100%;
  margin: 0 auto;
  text-align: center;
  fill:$gray;
  color: $gray;

}

.image__drop{
  padding: $small-padding $micro-padding;
  // background-color: $lighter-gray;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: $medium-border-radius;
  border: 1px dashed $light-gray;
  color: $dark-gray;
  width: 90%;
}

.image__url{
  width:70%;
  margin:auto;
}

.element-image__input{
  width:74%;
  border-radius: .5em;
  margin:$micro-margin;
}

.element-image__add-url{
  width: 100%;
  margin-top: $medium-margin;
  margin-bottom: 0;
  text-align: center;
  z-index: 1;
}

.image-reupload-form {
  padding-top: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: $lighter-gray;
  transition: 0.25s ease;
}

.element__button{
  @extend %modal__canvas-button;
}
