@import 'variables';
@import 'mixins';
@import 'modal';

.element__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__container {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  margin: 0;
  background: $lighter-gray;
  overflow: hidden;
  box-sizing: border-box;

  &--edit { // sass-lint:disable-line class-name-format
    border: $gray dashed 1px;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -moz-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
    -webkit-box-shadow: 0px $shadow-v-offset $shadow-blur $boxShadow-gray;
  }

  &--small .image__login {
    .image__title, .image__url {
      display: none;
    }
    .image__drop {
      border: none;
    }
    .image__svg--text {
      display: none;
    }
  }

  &--small {
    .image__content.image__replace-content {
      height: 100%;
      left: 0;
      right: 0;
    }
    .image__drop {
      margin: 0 auto;
    }
  }

  &--exists {
    &:hover {
      .image__content.image__replace-content {
        opacity: 1;
      }
    }

    &.image__container--small {
      .image__content.image__replace-content {
        min-height: 100%;
      }
    }

    .image__content.image__replace-content {
      border-top: 1px solid #ccc;
      height: 100%;
      max-height: 160px;
      opacity: 0;
    }
  }
}

.image__login {
  background-color: $lighter-gray;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  position: relative;
}

.image__popup {
  border: 1px solid #dedede;
  position: absolute;
  bottom: -100px;
  right: -100px;
  height: 200px;
  width: 180px;
  opacity: 0;
  transition: all 0.25s ease;
  visibility: hidden;
  z-index: 1;

  &.visible {
    // box-shadow: 1px 1px 1px 0px #ccc;
    box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
  }
}

.image__holder {
  padding-right: $mini-padding;
  padding-left: $mini-padding;
  padding-top: $micro-padding;
  background: $light-gray;
}

.image__content {
  flex-direction: column;
  justify-content: center;
  height: 100%;
  display: flex;
  background: $lighter-gray;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.25s ease;
}

.image__replace-content {
  position: absolute;
}
.image__content {
  .upload__close {
    color: #333;
    position: absolute;
    top: 3.5px;
    right: 3.5px;
    font-size: 20px;
  }
}

.image__title {
  width:90%;
  text-align: center;
  font-family: $roboto;
  font-size: $medium-font-size;
  padding: $small-padding;
  color:$black;
}

.image__svg {
  width: 100%;
  text-align: center;
}
.image__svg--text {
  text-align: center;
}

.image__drop_default {
  padding: $large-padding;
  // background-color: $lighter-gray;
  margin: $small-margin $small-margin*2;
  border-radius: $medium-border-radius;
  color: $gray;
}

.image__drop {
  padding: $medium-padding;
  // background-color: $lighter-gray;
  margin: 0.75rem 20px 0.5rem;
  border-radius: $medium-border-radius;
  border: 1px dashed $light-gray;
  color: $gray;

  &.popup {
    max-width: 110px;
  }
}

.image__url {
  width: 100%;
  margin: 0 auto;
}

.element-image__input {
  width: 100%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #dedede;
  margin: auto;
  padding: 5px;
}

.element-image__add-url {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  width: 100%;
  z-index: 1;

  .element-image__label {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}

.image-reupload-form {
  padding-top: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: $lighter-gray;
  transition: 0.25s ease;
}

.element__button {
  @extend %modal__canvas-button;
}
