@import 'variables.scss';

.icon-button-dropdown{
  $root: &;
  position: relative;
  height: 40px;
  width: 40px;
  &__icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    svg{
      height: 20px;
      width: 20px;
      path{
        fill: $black
      }
    }

    &:focus{
      outline: none;
    }
    
    &:hover, &.active{
      background: $g7;
    }
  }
  &__options{
    font-family: $roboto;
    font-size: $p-size;
    list-style: none;
    position: absolute;
    overflow-x: visible;
    top: calc(100% + 8px);
    border-radius: 3px;
    z-index: 500;
    border: solid 1px $g5;
    background-color: #fff;  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    transform: scale(0);
    transition: transform 300ms ease;

    &--active{
      transform: scale(1);
    }
    &.left{
      left: -14px;
      transform-origin: top left;
      &::before{
        top: -6.5px;
        left: 27px;
      }
    }

    &.right{
      right: -14px;
      transform-origin: top right;
      &::before{
        top: -6.5px;
        right: 27px;
      }
    }

    &::before{
      content: '';
      position: absolute;
      transform: rotate(45deg);
      background: white;
      width: 10px;
      height: 10px;
      border-left: 1px solid $g5;
      border-top: 1px solid $g5;
    }
    
    #{$root}__option-container{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      transition: background 300ms ease;
      &:not(:last-child){
        border-bottom: 1px solid $g5;
      }

      &:hover, &:focus-within {
        background: $g7;
      }

      #{$root}__tooltip{
        opacity: 0;
        position: absolute;
        top: 125%;
        left: 15%;
        background: #333;
        color: white;
        font-family: $roboto;
        font-size: 12px;
        border-radius: 3px;
        transition: opacity 300ms ease;
        word-wrap: none;
        transform: translateY(-50%);
        pointer-events: none !important;
        padding: 4px 8px;

        &::before{
          content: '';
          top: -4px;
          left: 8px;
          transform: rotate(45deg);
          position: absolute;
          height: 8px;
          width: 8px;
          background: #333;
          box-shadow: 3px 3px 20px rgba($color: #000000, $alpha: 0.1);
        }
      }
      
      &:hover #{$root}__tooltip, &:focus-within #{$root}__tooltip{
        opacity: 1;
        pointer-events: all;
        transition-delay: 500ms;
      }

      #{$root}__option{
        color: black;
        text-align: left;
        min-height: 40px;
        margin: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 16px 16px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: none;
        border: none;
        z-index: 0;
        cursor: pointer;
        font-family: $roboto;
        font-size: $p-size;
        display: flex;
        align-items: center;

        svg{
          margin-right: 8px;
          path{
            width: 12px;
            height: 12px;
            fill: $black;
          }
        }

        &:focus{
          outline: none;
        }
      }
    }
  }
}