.dashboard{
  $root: &;
  $topbar-height: 50px;
  position: absolute;
  left: 0;
  top: $topbar-height;
  display: flex;
  margin: 0;
  padding: 0;
  height: calc(100vh - #{$topbar-height});
  width: 100vw;
  background: #f7f7f7;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  &__children{
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    &__container{
      min-width: 910;
      overflow-y: auto;
    }
  }
}