@import 'variables.scss';

.link-preview-card{
  height: 110px;
  border-radius: 2.2px;
  box-shadow: 1.1px 1.1px 4.4px 0 rgba(183, 183, 183, 0.5);
  background-color: #ffffff;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;

  &__preview{
    width: 123px;
    border-radius: 2.2px;
    background: #e4e4e4;
    align-self: stretch;
    margin-right: 24px;
    background-size: cover;
    svg{
      width: 100%;
      height: 100%;
    }
  }

  &__description{
    color: $black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding-top: 18px;
    padding-bottom: 14px;
    font-family: $roboto;
    font-weight: $heavy-font-weight;

    &__footer{
      margin-top: auto;
      font-size: 13.4px;
      font-weight: $light-font-weight;
      span{
        font-weight: $heavy-font-weight;
      }
    }
  }

  &__remove{
    background: none;
    border:none;
    margin: 17px 18px;
    padding:0;
    cursor: pointer;

    &:focus{
      outline: none;
    }
  }
}