@import 'variables';
@import 'mixins';

.editor
{
  &__console{
    border-radius: 0 0  $medium-border-radius $medium-border-radius;
    height: 100%;
    overflow-y: scroll;
    color:$white;
    padding: 0 $small-padding;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    border:1px solid $g5;
    box-sizing: border-box;
  }

  &__vertical-container {
    border:1px solid $g5;
    height: 100%;
    display: flex;
  }

  &__sub-container {
    display: flex;
    flex-direction: row;
    border: none;
  }

  &__input {
    height: calc(100% - #{$editor-toolbar-files-height});
    border-right: $small-border solid $gray;
    overflow:scroll;
    &-tabbed {
      width: 100%;
    }
  }

  &__output-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    &--show { // sass-lint:disable-line class-name-format
      display: block;
    }
  }

  &__output {
    width: 100%;
    height: calc(100% - #{$editor-toolbar-files-height});
    overflow:scroll;
    background-color: $white;
    padding: 0;
    margin: 0;
    z-index: $z-index-layer-1;
    &--short {
      height: calc(100% - #{$console-output-height} - #{$console-heading-height});
    }
  }

  &__total-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
  }

  &__output-text {
    color:$white;
  }

  &__tabbed {
    .Pane1 {
      width: 100% !important;
    }
  }
}

.CodeMirror-scroll { // sass-lint:disable-line class-name-format
  z-index: $z-index-layer-0;
}

#code-output{
  background-color: $white;
  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
  border: none;
}

canvas{
  padding: 0;
  margin: 0;
}

.editor-toolbar__button-container-left {
  display: flex;
  align-items: center;
}

.react-grid__fullscreen {
  & .editor__fullscreen {
    height: calc(100vh - 50px) !important;
    width: 100% !important;
    transform: translate(0,0) !important;
    z-index: 400;
  }

  & .editor__non-fullscreen {
    display: none;
  }
}
