@import 'variables';
.profile {
  &-folders {
    &__container {
    }
    &__list {
      @extend %file-folder__list;
    }
    &__list-item {
      @extend %file-folder__list-item;
      height: 80px;
      width: $pebl-profile-image-size-width;
      border-left: $files-indicator-width solid $tab-blue;
      -webkit-box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);
      box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);
      &:hover {
        border: $medium-border solid $tab-blue;
        border-left: $files-indicator-width solid $tab-blue;
      }
    }
    &__title {
      @extend %file-folder__title;
    }
    &__sub-title {
      @extend %file-folder__sub-title;
    }
  }

  &-pebls {
    &__back {
      margin: $large-margin;
      font-size: $small-font-size;
      cursor: pointer;
      color: $light-gray;
      background: transparent;
      padding: 0;
      border: none;
      &:hover {
        color: $blue;
        background: transparent;
        padding: 0;
        border: none;
      }
    }
    &__level {
      display: none;
    }
    &__level:last-of-type {
      display: block;
    }
    &__container {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      float: right;
      background: $g8;
      padding: $xlarge-padding 20%;
    }

    &__heading {
      display: block !important;
      font-size: $large-font-size;
      font-weight: normal;
      margin: $small-margin $large-margin;
    }
    &__sub-heading {
      font-size: $small-font-size;
      font-weight: normal;
      text-transform: uppercase;
      color: $gray;
      margin: $small-margin $large-margin;
    }


  }
}

%file-folder {

  &__container {
  }
  &__list {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
  }
  &__list-item {
    position: relative;
    background: $white;
    box-sizing: border-box;
    border-radius: $small-border-radius;
    margin: $large-margin;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $medium-padding;
    cursor: pointer;
  }
  &__title {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
  }
  &__sub-title {
    left: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: $small-border-radius;
    font-size:$small-font-size;
    padding: $small-padding;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
    background-color: $light-gray;
    color:$white;
  }
}

.document-line {
  .profile-folders__list-item {
    width: 100%;
    margin: 2px 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: $small-padding;
    &:hover {
      border: 0;
      border-left: $files-indicator-width solid $tab-blue;
      background: $g7;
      -webkit-box-shadow:0 0px 7px rgba(0, 0, 0, 0.8);
      box-shadow:0 0px 7px rgba(0, 0, 0, 0.8);
    }
  }
  .profile-folders__sub-title {
    background-color: transparent;
    color: $g4;
    padding: 0;
    font-size: $p-size;
    width: fit-content;
    position: inherit;
  }
  .profile-folders__title {
    margin: 0;
    color: $g4;
    font-size: $p-size;
  }
}

.document-block {
  .profile-folders__list-item {
    width: $pebl-profile-image-size-width;
  }
}
