.classroom{
  flex: 1;
  padding: 40px;
  padding-left: 64px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  
  &__header-area{
    display: flex;
    height: 40px;
    align-items: flex-start;

    &__header{
      font-weight: 500;
      font-size: 20px;
      margin-right: auto;
    }
  }
  &__class-card-container{
    margin-top: 40px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;

    .class-card{
      margin-right: 40px;
      margin-bottom: 40px;
    }
  }
}