.edit-assignment-confirmation-modal{
  width: 557px;
  $root: &;

  &__header{
    text-align: center;
  }

  &__body{
    padding: 64px 40px !important;
    text-align: center;

    &__header{
      margin: 0;
      margin-bottom: 32px;
    }

    #{$root}__buttons-container{
      margin-top: 40px;
      
    }
  }
}