@import 'variables.scss';

.create-class-modal{
  $root: &;
  width: 893px;

  &__body{
    position: relative;

    #{$root}__required{
      position: absolute;
      top: 13px;
      right: 26px;
      color: $g3;
      font-size: 14px;
    }

    #{$root}__row{
      display: flex;
      margin-top: 40px;

      &:first-of-type{
        margin-top: 10px;
      }
    }
  }
}