@import 'variables';
@import 'mixins';

.account {

  &__text-primary {
    margin: $medium-margin;
    color: $g4;
    font-size: $large-font-size;
  }

  &__text-container {
    width: 60%;
  }

  &__text-blurb {
    background-color: $white;
    color: $black;
    font-size: $small-font-size;
    padding: $medium-padding;
    width: 100%;
    border: none;
    resize: none;
    text-align: center;
    height: 150px;
    border-radius: $small-border-radius;
    border: $small-border solid $g6;
  }

  &__container {
    display: flex;
    flex-direction: row;
    padding: $xlarge-padding;
    margin-top: $xxlarge-margin;
    width: 80%;
    justify-content: center;
  }

  &__image-container {
    position: relative;
    width: $account-image-width;
    max-width: 90%;
    margin: 0 auto;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: $account-image-width;
    height: $account-image-width;
    cursor: pointer;
    &:hover {
      & + .account__image-upload
      {
        display: flex;
      }
    }
  }

  &__image-upload {
    max-width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: $account-image-width;
    height: $account-image-width;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      display: flex;
    }
  }

}
