@import 'variables.scss';

.class-view__assignments__topic{
  &__assignments-table{
    &__no-assignments{
      font-family: $roboto;
      text-align: center;
      color: $g3;
      font-style: italic;
      padding: 20px;
    }
  }
}