@import 'variables.scss';

.student-sidebar{
  $root: &;
  width: calc(250px + 2.5rem);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: $black;
  box-sizing: border-box;
  height: calc(100vh - #{$topnav-height});
  position: sticky;
  top: 0;
  
  &__container{
    border-top: 1px solid white;
    padding: 26px 16px 25px 34px;
    overflow: auto;
  }

  &__topic{
    &:not(:first-child){
      margin-top: 18px;
    }
    &__name{
      background: none;
      border: none;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 800;
      color: #fff;
      text-align: left;
      box-sizing: border-box;
      
      &:focus{
        outline: none;
      }
    }

    &__resources{
      margin: 12px;
      box-sizing: border-box;
      border-left: 1px solid #ffffff70;
      padding-left: 8px;
      button{
        background: none;
        border: none;
        display: block;
        font-size: 14px;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        font-weight: normal;
        padding: 4px 0;
        width: 100%;
        text-align: left;

        &:focus{
          outline: none;
        }
      }
    }
  }
}