@import 'variables';
@import 'mixins';
@import 'modal';

.reset-modal {
  &__content{
    margin: auto;
    width: 45%;
    padding-top: 5%;
  }

  &__div{
    display: block;
    text-align: left;
  }

  &__title{
    @extend %modal__title;
  }

  &__label{
    @extend %modal__label;
  }

  &__input{
    @extend %modal__input;
  }

  &__button{
    @extend %modal__button;
  }

  &__notice {
    @extend %modal__notice;
  }

  &__buttonholder {
    @extend %modal__buttonholder;
  }

  &__text {
    @extend %modal__text;
    text-align: $left-align;
  }
  
}
