@import 'variables.scss';

.assignment-card{
  display: grid;
  box-sizing: border-box;
  width: 100%;
  grid-template-columns: 25% 15% 15% 25% 15% 5%;
  font-family: $roboto;
  font-size: 14px;
  color: $black;
  align-items: center;

  &__title{
    a{
      font-weight: bold;
      color: $h1-color;
      font-size: 14px;
      text-decoration: none;
    }
  }

  &__options{
    .icon-button-dropdown{
      &__icon{
        svg{
          height: unset;
          width: unset;
        }
      }
    }
  }
}