@import 'variables.scss';

.sidebar{
  $root: &;
  width: 202px;
  border-right: 1px solid #CCD0D2;
  height: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    box-sizing: border-box;


    #{$root}__nav-link{
      height: 36px;
      box-sizing: border-box;
      display: flex;
      a{
        box-sizing: border-box;
        width: 100%;
        padding: 10px 23px;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 500;
        border-left: 6px solid transparent;
        color: #667378;
        text-decoration: none;

        &.active{
          border-left: 6px solid #00bb9d; 
          background-color: rgba(225, 227, 228, 0.5);
          a{
            color: #3e4e54;
          }
        }
      }

    }
  }
}