@import 'variables';
@import 'mixins';

.element__image {
  width: 100%;
  height: 100%;
}

.image__login{
  padding:$small-padding;
  background-color: $lighter-gray;
  height: 90%;
  margin: $small-margin;
  position:relative;
}

.image__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
}

.image__title{
  width:90%;
  margin:auto;
  text-align: center;
  font-family: $roboto;
  font-size: $medium-font-size;
  padding: $small-padding;
  color:$black;
}

.image__svg{
  width:90%;
  margin:auto;
  text-align: center;
  fill:$gray;
  color: $gray;

}

.image__drop{
  padding: $large-padding;
  // background-color: $lighter-gray;
  margin: $small-margin $large-margin*2;
  border-radius: $medium-border-radius;
  border: 1px dashed $light-gray;
  color: $gray;

}

.image__url{
  width:70%;
  margin:auto;
}

.element-image__input{
  width:74%;
  border-radius: .5em;
  margin:auto;
}

.element-image__add-url{
  width: 100%;
  margin: auto;
  text-align: center;
}

.element__button{
  background-color: $light-gray;
  width:60px;
}
