@import 'variables.scss';

.student-assignment-card{
  margin-bottom: 9px;
  background: white;
  border-radius: 2px;
  height: 50px;
  transition: height 300ms ease;
  box-shadow: 1.1px 1.1px 4.4px 0 rgba(183, 183, 183, 0.5);
  overflow: hidden;

  &--expanded{
    height: 158px;
  }

  &__details{
    position: relative;
    z-index: 1;
    display: grid;
    width: 100%;
    grid-template-columns: 40% 18% 18% 18% 6%;
    font-size: 13.4px;
    font-family: $roboto;
    color: $black;
  
    &__title{
      font-weight: bold;
      color: $h1-color;
  
      a{
        color: $h1-color;
        text-decoration: none;
      }
    }
  
    &__status{
      font-weight: 500;
      &--success{
        color: $success-green
      }
      &--danger{
        color: $danger-red
      }
    }
  
    &__comments{
      text-transform: uppercase;
    }
  
    &__options{
      &__options-btn{
        border: 0;
        margin:0;
        background: none;
        cursor: pointer;
        margin-left: auto;
        height: 20px;
        width: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        &:focus{
          outline: none;
        }
    
        span{
          width: 4px;
          height: 4px;
          border-radius: 50%;
          box-sizing: border-box;
          background: $black;
        }
      }
    }
  }
  &__link-details{
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 37px;
    display: flex;
    
    &__image{
      margin-right: 25px;
    }

    &__text{
      &__title{
        font-size: 16px;
        font-weight: bold;
        color: $h1-color;
      }
      &__description{
        margin-top: 4px;
        color: #5a5a5a;
        font-size: 14px;
      }
    }
  }
}