.textarea-field{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

  &__label{
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__text-box{
    $border-color : #ccd0d2;
    resize: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px $border-color;
    background-color: #f7f8f8;
    font-family: 'Roboto', sans-serif;

    &:focus{
      outline: none;
      box-shadow: 0px 0px 4px darken($color: $border-color, $amount: 0.1);
    }

    
    &::placeholder{
      font-style: italic;
    }
  }
}