@import 'variables';

.console__output-text{
  font-family: $inconsolata;
  margin: 0;
  padding: $small-padding;
}
.console__outputDiv {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.console__output-text{
  height: $console-output-height;
  overflow-x: scroll;
}

.console__nav{
  height: $console-heading-height;
  font-size: $toolbar-font-size;
  font-family: $roboto;
  padding: $small-padding/2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.console__heading{
  display: inline-block;
  margin:0px;
  text-transform: uppercase;
}
.console__toggle{
  float: right;
  background: none;
  border:none;
  &:hover{
    background: none;
    border:none;
  }
}


.editor__dark{
  .console__output-text{
    background-color: $g1;
  }
  .console__nav{
    background-color: $g2;
    color:$white;
  }
  .console__toggle{
    color: $white;
  }
  .console__output-text{
    color: $white;
  }
}

.editor__light{
  .console__output-text{
    background-color: $g7;
  }
  .console__nav{
    background-color: $g5;
    color:$g2;
  }
  .console__toggle{
    color: $g2;
  }
  .console__output-text{
    color: $g2;
  }
}
