@import 'variables';
.profile-pebl {

  &__link {
    text-decoration: none;
    color :$black;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    height: 150px;
    width: 220px;
    border-top: $files-indicator-width solid $tab-yellow;
    &:hover {
      border: $medium-border solid $tab-yellow;
      border-top: $files-indicator-width solid $tab-yellow;
    }
  }
  &__overlay {
    display: none;
    position: absolute;
    top: -$small-border-radius*1.5;
    left: 0;
    background: $g4;
    width: 100%;
    height: calc(100% + #{$small-border-radius*1.5} - #{$pebl-profile-details});
    border-top: $g4 $small-border-radius*1.5 solid;
    border-radius: $small-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 $medium-padding;
    box-sizing: border-box;
    text-decoration: none;
    &-title {
      color: $white;
      font-size: $medium-font-size;
      // height: $pebl-profile-image-size-height*0.45;
      // line-height: $medium-line-height;
      font-weight: 800;
      text-align: left;
      overflow: hidden;
    }
    &-desc {
      font-size: $small-font-size;
      color: $white;
      // line-height: $small-line-height;
      text-align: left;
      font-weight: 600;
      height: $pebl-profile-image-size-height*0.8;
      overflow: hidden;
    }
    &-author {
      font-size: $small-font-size;
      text-align: left;
      font-weight: 600;
      color: $g5;
    }
  }
  &__container {
    list-style: none;
    margin: $medium-margin;
    border-radius: $small-border-radius;
    background: $white;
    width: $pebl-profile-image-size-width;
    border-radius: $small-border-radius;
    -webkit-box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);
    box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
    border-top: $tab-yellow $small-border-radius*1.5 solid;
    &:hover .profile-pebl__overlay{
      display: flex;
      // display: none;
      flex-direction: column;
      justify-content: space-between;
    }
    // &-0 {
    //   border-top: $border-yellow $small-border-radius*1.5 solid;
    // }
    // &-1 {
    //   border-top: $border-pink $small-border-radius*1.5 solid;
    // }
    // &-2 {
    //   border-top: $border-green $small-border-radius*1.5 solid;
    // }
    // &-3 {
    //   border-top: $border-blue $small-border-radius*1.5 solid;
    // }
  }
  &__title {
    color: $black;
    font-size: $medium-font-size;
    padding: 0 $small-padding;
    font-weight: 600;
    text-align: left;
    overflow: hidden;
  }
  &__tag-list {
    display: flex;
  }
  &__image {
    width: $pebl-profile-image-size-width;
    height: $pebl-profile-image-size-height;
  }
  &__info {
    display: flex;
    flex-direction: row;
    height: $pebl-profile-details;
    background: $g4;
    justify-content: space-between;
  }
  &__sub-info {
    display: flex;
    margin: 0;
    font-size: $small-font-size;
    padding: $small-padding/2 $small-padding;
    color: $g5;
    font-weight: 600;
  }
}
