@import 'variables';
@import 'mixins';

.question__container {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
}

.question__question {
  background: $black;
  color: $white;
  font-family: $helvetica;
  font-size: $medium-font-size;
  min-width: 100%;
  max-width: 100%;
  resize: none;
}

.question__answer {
  position: absolute;
  height: 100%;
  resize: none;
  font-family: $helvetica;
  font-size: $small-font-size;
  border: 1px solid $light-gray;
  width: 100%;
}
