.dashboard__myresources__header{
  width: 392px;
  height: 35px;
  margin: 0 14px 98px 18px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #01151e;
}

.dashboard__myresources__header__title {
  font-size: 24px;
  text-align: center;
  color: #00151E;
  width: 60%;
  margin: 0.5rem auto;
  margin-top: 0.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
  justify-content: flex-start;
  padding: 3rem 1rem 1rem;
}

.tag-input__sub-container {
  width: 939px;
  height: 49px;
  margin: 26px 63px 16px 71.5px;
  padding: 7px 839px 8px 8px;
  background-color: #f2f3f4;
  display: flex;
}

.tag-input__input {
  width: 100%
}