@import 'variables.scss';

.class-view__assignments{
  color: $black;
  font-family: $roboto;
  padding-bottom: 40px;
  &__action-area{
    display: flex;

    // .icon-button-dropdown{
    //   &__icon{
    //     background: #008575;
    //     transition: background 300ms ease;
    //     svg{
    //       path{
    //         fill: white;
    //       }
    //     }
        
    //     &:hover, &:focus{
    //       background: #00564c;
    //       border: none;
    //     }
    //   }

    .dropdown{
        &__trigger{
          border-radius: 20px;
          .with-icon{
            display: flex;
            align-items: center;
            svg{
              position: static;
              height: 18px;
              width: 18px;
              margin-right: 8px;
              path{
                fill: white;
              }
            }
          }
        }

    }
  }
}