---
- name: deploy code from git repository
  git:
    repo: "{{ git_repository }}"
    dest: "{{ ansible_env.HOME }}/{{ webserver_src_dir }}"
    version: "{{ git_branch }}"
    accept_hostkey: yes
    force: yes
  notify:
    - restart pm2

- name: install python requirements
  pip:
    requirements: "{{ ansible_env.HOME }}/{{ webserver_src_dir }}/requirements.txt"
    executable: pip3
  notify:
    - restart pm2

- name: install node packages via npm
  npm:
    path: "{{ ansible_env.HOME }}/{{ webserver_src_dir }}/server"
    executable: /usr/local/bin/npm --save --legacy-peer-deps
  notify:
    - restart pm2

- name: create nginx site config
  template:
    src: nginx_site.conf
    dest: /etc/nginx/sites-enabled/default
    force: yes
  notify:
    - restart nginx
  become: yes
  become_method: sudo

- name: restart pm2 and nginx
  command: /bin/true
  notify: "restart web services"
