.top-nav{
  background-color: #00151e;
  position: fixed;
  top:0;
  left: 0;
  height: 50px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &__nav-links{
    margin-left: auto;
    color: white;
  }
}