
@import "variables.scss";

.top-nav{
  background-color: $g1;
  position: fixed;
  top:0;
  left: 0;
  height: 50px;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: $z-index-layer-4;

  &__nav-links{
    margin-left: auto;
    color: white;
  }
}