@import 'variables';
@import 'mixins';

.widget__nav{
  display: flex;
  justify-content: flex-end;
  margin-top: -5px;
  background-color: $light-green;
  padding: $micro-padding;
}

.widget__close{
  @extend %widget_controls;
}

#ShapeCNTRL{
  fill:$white;
}

.widget__close:hover #ShapeCNTRL{
  fill:$light-gray;
}

.dragClassName{ // sass-lint:disable-line class-name-format
  @extend %widget_controls;
}

//deleting and moving widgets on the canvas
%widget_controls{
  background-color: $light-green;
  outline: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  fill: $blue;
  border-radius: 0px;
  padding:$small-padding/2;
  border: none;

  &:hover{
    cursor: pointer;
    border: none;
    background-color: $light-green;
  }
}
